<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bd9b94d-bca8-47e8-905f-60c3e06f38d5" Alias="0b009470-922e-401f-a29b-80709861517e" Level="2">
  <Info>
    <Parent Key="651e7d48-d381-46bc-8577-f631288e16c4">Callback</Parent>
    <Path>/Callback/b009470922e401fA29b80709861517e</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-09T11:57:41</CreateDate>
    <NodeName Default="0b009470-922e-401f-a29b-80709861517e" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas Persson]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[financial-consulting]]></Value>
    </service>
  </Properties>
</Content>