<?xml version="1.0" encoding="utf-8"?>
<Content Key="afdea361-8025-4e4b-be38-c712844bcaaf" Alias="17fc029a-20ad-4560-8a1d-b2197fa527d4" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/fc029a20ad45608a1dB2197fa527d4</Path>
    <Trashed Parent="651e7d48-d381-46bc-8577-f631288e16c4">true</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-09T06:32:29</CreateDate>
    <NodeName Default="17fc029a-20ad-4560-8a1d-b2197fa527d4" />
    <SortOrder>38</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas Persson]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[financial-consulting]]></Value>
    </service>
  </Properties>
</Content>