<?xml version="1.0" encoding="utf-8"?>
<Content Key="e99f3c02-0f25-4ec6-b65f-dd7a8fb51fe8" Alias="1e18c691-d8fb-41cf-a58e-99c8316ca393" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/e18c691D8fb41cfA58e99c8316ca393</Path>
    <Trashed Parent="651e7d48-d381-46bc-8577-f631288e16c4">true</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-09T06:29:59</CreateDate>
    <NodeName Default="1e18c691-d8fb-41cf-a58e-99c8316ca393" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas Persson]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[assurance-audits]]></Value>
    </service>
  </Properties>
</Content>