<?xml version="1.0" encoding="utf-8"?>
<Content Key="2088478f-7d1d-4b4a-beb4-f7912a6a0253" Alias="2a10c073-0dd2-41bd-8a52-70c8a8ad4d69" Level="2">
  <Info>
    <Parent Key="651e7d48-d381-46bc-8577-f631288e16c4">Callback</Parent>
    <Path>/Callback/a10c0730dd241bd8a5270c8a8ad4d69</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-09T14:07:16</CreateDate>
    <NodeName Default="2a10c073-0dd2-41bd-8a52-70c8a8ad4d69" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas Persson]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[bonds-commodities]]></Value>
    </service>
  </Properties>
</Content>