<?xml version="1.0" encoding="utf-8"?>
<Content Key="a31f83e7-56a9-4702-855b-b44986be1ac2" Alias="2d051763-fbd4-4054-85fc-a74362b0bee0" Level="2">
  <Info>
    <Parent Key="651e7d48-d381-46bc-8577-f631288e16c4">Callback</Parent>
    <Path>/Callback/d051763Fbd4405485fcA74362b0bee0</Path>
    <Trashed>false</Trashed>
    <ContentType>helpItem</ContentType>
    <CreateDate>2024-10-07T07:48:41</CreateDate>
    <NodeName Default="2d051763-fbd4-4054-85fc-a74362b0bee0" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
  </Properties>
</Content>