<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1d8f8f2-9561-44a0-9c7e-fd6832e6e9b9" Alias="2efd0b35-bd91-499c-b025-edcb547dafd6" Level="2">
  <Info>
    <Parent Key="651e7d48-d381-46bc-8577-f631288e16c4">Callback</Parent>
    <Path>/Callback/efd0b35Bd91499cB025Edcb547dafd6</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-09T14:09:21</CreateDate>
    <NodeName Default="2efd0b35-bd91-499c-b025-edcb547dafd6" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas Persson]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[tax-trusts]]></Value>
    </service>
  </Properties>
</Content>