<?xml version="1.0" encoding="utf-8"?>
<Content Key="1bb7e716-b2a0-44d9-bd3d-19ec9ad4d490" Alias="41c3d354-54ab-499d-965b-85f4c5a401e4" Level="2">
  <Info>
    <Parent Key="651e7d48-d381-46bc-8577-f631288e16c4">Callback</Parent>
    <Path>/Callback/c3d35454ab499d965b85f4c5a401e4</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-09T14:27:06</CreateDate>
    <NodeName Default="41c3d354-54ab-499d-965b-85f4c5a401e4" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas Persson]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[financial-consulting]]></Value>
    </service>
  </Properties>
</Content>