<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e794a57-fc6a-45f7-ba37-d3ef77032174" Alias="55f59790-5581-47e1-9ba0-b0856de48231" Level="2">
  <Info>
    <Parent Key="7f43740b-86ff-4f57-9354-9db28cc6394f">Questions</Parent>
    <Path>/Questions/f59790558147e19ba0B0856de48231</Path>
    <Trashed>false</Trashed>
    <ContentType>questionItem</ContentType>
    <CreateDate>2024-10-09T14:08:58</CreateDate>
    <NodeName Default="55f59790-5581-47e1-9ba0-b0856de48231" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <question>
      <Value><![CDATA[lala?]]></Value>
    </question>
  </Properties>
</Content>