<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7d44474-314a-416d-bfba-de86dadf727d" Alias="56bdce60-9464-462c-8f43-d961a4cb29f2" Level="2">
  <Info>
    <Parent Key="651e7d48-d381-46bc-8577-f631288e16c4">Callback</Parent>
    <Path>/Callback/bdce609464462c8f43D961a4cb29f2</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-07T07:21:51</CreateDate>
    <NodeName Default="56bdce60-9464-462c-8f43-d961a4cb29f2" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas Persson]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[bonds-commodities]]></Value>
    </service>
  </Properties>
</Content>