<?xml version="1.0" encoding="utf-8"?>
<Content Key="043bbcbc-829e-45fe-96b6-df22ccebb449" Alias="5a35fbca-a2ae-4ad1-ae34-8ac3ca610286" Level="2">
  <Info>
    <Parent Key="7f43740b-86ff-4f57-9354-9db28cc6394f">Questions</Parent>
    <Path>/Questions/a35fbcaA2ae4ad1Ae348ac3ca610286</Path>
    <Trashed>false</Trashed>
    <ContentType>questionItem</ContentType>
    <CreateDate>2024-10-09T14:08:20</CreateDate>
    <NodeName Default="5a35fbca-a2ae-4ad1-ae34-8ac3ca610286" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas Persson]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <question>
      <Value><![CDATA[Vad heter du?]]></Value>
    </question>
  </Properties>
</Content>