<?xml version="1.0" encoding="utf-8"?>
<Content Key="7bb20e08-a42b-44db-bf88-fb2313b7c9d6" Alias="5b06b724-1c35-48e6-a61e-6cca77742dab" Level="2">
  <Info>
    <Parent Key="651e7d48-d381-46bc-8577-f631288e16c4">Callback</Parent>
    <Path>/Callback/b06b7241c3548e6A61e6cca77742dab</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-09T14:19:58</CreateDate>
    <NodeName Default="5b06b724-1c35-48e6-a61e-6cca77742dab" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas Persson]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[tax-trusts]]></Value>
    </service>
  </Properties>
</Content>