<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ebef800-c290-4479-a12f-250ae4d8aacf" Alias="60fe7dc5-3322-4486-9bd5-9a5aa439a1c9" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/fe7dc5332244869bd59a5aa439a1c9</Path>
    <Trashed Parent="651e7d48-d381-46bc-8577-f631288e16c4">true</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-09T06:43:35</CreateDate>
    <NodeName Default="60fe7dc5-3322-4486-9bd5-9a5aa439a1c9" />
    <SortOrder>37</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas Persson]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[risk-management]]></Value>
    </service>
  </Properties>
</Content>