<?xml version="1.0" encoding="utf-8"?>
<Content Key="49ad5375-1e23-49a5-810f-c83dc4b296d0" Alias="65536029-26df-4615-89c3-4231015bf32c" Level="2">
  <Info>
    <Parent Key="651e7d48-d381-46bc-8577-f631288e16c4">Callback</Parent>
    <Path>/Callback/df461589c34231015bf32c</Path>
    <Trashed>false</Trashed>
    <ContentType>helpItem</ContentType>
    <CreateDate>2024-10-07T07:48:40</CreateDate>
    <NodeName Default="65536029-26df-4615-89c3-4231015bf32c" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
  </Properties>
</Content>