<?xml version="1.0" encoding="utf-8"?>
<Content Key="78f53046-98ea-4fdb-a41f-f000f832069b" Alias="68e4c409-2d26-4001-9eb6-7e0ae088c86e" Level="2">
  <Info>
    <Parent Key="651e7d48-d381-46bc-8577-f631288e16c4">Callback</Parent>
    <Path>/Callback/e4c4092d2640019eb67e0ae088c86e</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-09T12:04:55</CreateDate>
    <NodeName Default="68e4c409-2d26-4001-9eb6-7e0ae088c86e" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas Persson]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[financial-consulting]]></Value>
    </service>
  </Properties>
</Content>