<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f2cc051-0e32-4f2b-91df-5205190ec150" Alias="75d15702-3fa8-46be-85d6-f5bada274fdd" Level="2">
  <Info>
    <Parent Key="651e7d48-d381-46bc-8577-f631288e16c4">Callback</Parent>
    <Path>/Callback/d157023fa846be85d6F5bada274fdd</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-09T11:56:03</CreateDate>
    <NodeName Default="75d15702-3fa8-46be-85d6-f5bada274fdd" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas Persson]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[financial-consulting]]></Value>
    </service>
  </Properties>
</Content>