<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ebbdeca-cf64-4c4b-8efb-b31d3b42598b" Alias="923f1b27-5b8a-4650-953c-d5e677abef5e" Level="2">
  <Info>
    <Parent Key="651e7d48-d381-46bc-8577-f631288e16c4">Callback</Parent>
    <Path>/Callback/f1b275b8a4650953cD5e677abef5e</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-09T06:47:24</CreateDate>
    <NodeName Default="923f1b27-5b8a-4650-953c-d5e677abef5e" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas Persson]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[bonds-commodities]]></Value>
    </service>
  </Properties>
</Content>