<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad54d484-e706-4338-91ce-684344be18d1" Alias="9476f04b-2b6f-483d-8727-a63365142af0" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/f04b2b6f483d8727A63365142af0</Path>
    <Trashed Parent="7f43740b-86ff-4f57-9354-9db28cc6394f">true</Trashed>
    <ContentType>questionItem</ContentType>
    <CreateDate>2024-10-07T07:01:58</CreateDate>
    <NodeName Default="9476f04b-2b6f-483d-8727-a63365142af0" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[ASDF]]></Value>
    </author>
    <email>
      <Value><![CDATA[a@ffe]]></Value>
    </email>
    <question>
      <Value><![CDATA[sasafegewtw]]></Value>
    </question>
  </Properties>
</Content>