<?xml version="1.0" encoding="utf-8"?>
<Content Key="3396585a-3679-49ac-8850-7300479f0761" Alias="9801d76a-f489-4546-b146-1667b4f5480d" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/d76aF4894546B1461667b4f5480d</Path>
    <Trashed Parent="9d73645e-d923-45c8-93ce-a7e8725401ea">true</Trashed>
    <ContentType>helpItem</ContentType>
    <CreateDate>2024-10-07T07:59:35</CreateDate>
    <NodeName Default="9801d76a-f489-4546-b146-1667b4f5480d" />
    <SortOrder>34</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
  </Properties>
</Content>