<?xml version="1.0" encoding="utf-8"?>
<Content Key="b173ada7-d116-45ad-a469-badb0529879f" Alias="98dc11c1-4710-4fc8-83b6-a05cdfe79735" Level="2">
  <Info>
    <Parent Key="7f43740b-86ff-4f57-9354-9db28cc6394f">Questions</Parent>
    <Path>/Questions/dc11c147104fc883b6A05cdfe79735</Path>
    <Trashed>false</Trashed>
    <ContentType>questionItem</ContentType>
    <CreateDate>2024-10-07T06:04:41</CreateDate>
    <NodeName Default="98dc11c1-4710-4fc8-83b6-a05cdfe79735" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <question>
      <Value><![CDATA[Vad ska jag göra?]]></Value>
    </question>
  </Properties>
</Content>