<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2376403-cef7-4489-9dad-03b36c566cd0" Alias="9e0a8c75-2aa8-4cfd-9f47-9cc689d92557" Level="2">
  <Info>
    <Parent Key="651e7d48-d381-46bc-8577-f631288e16c4">Callback</Parent>
    <Path>/Callback/e0a8c752aa84cfd9f479cc689d92557</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-09T11:59:16</CreateDate>
    <NodeName Default="9e0a8c75-2aa8-4cfd-9f47-9cc689d92557" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas Persson]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[financial-consulting]]></Value>
    </service>
  </Properties>
</Content>