<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5b42fa5-3550-408a-b5e4-81670c2a7cb8" Alias="9ed084ad-54c0-456e-97fa-ea67cf71912c" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ed084ad54c0456e97faEa67cf71912c</Path>
    <Trashed Parent="651e7d48-d381-46bc-8577-f631288e16c4">true</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-08T12:51:28</CreateDate>
    <NodeName Default="9ed084ad-54c0-456e-97fa-ea67cf71912c" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Kalle]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[statistic-advisor]]></Value>
    </service>
  </Properties>
</Content>