<?xml version="1.0" encoding="utf-8"?>
<Content Key="660474fc-e220-48ed-adcb-f61ad5b2f412" Alias="a0655a5e-bc02-4ace-b39a-e69b62382f72" Level="2">
  <Info>
    <Parent Key="651e7d48-d381-46bc-8577-f631288e16c4">Callback</Parent>
    <Path>/Callback/a0655a5eBc024aceB39aE69b62382f72</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-10T08:15:27</CreateDate>
    <NodeName Default="a0655a5e-bc02-4ace-b39a-e69b62382f72" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas Persson]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[financial-consulting]]></Value>
    </service>
  </Properties>
</Content>