<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f67bb90-bdca-42ed-9954-0deb2a9b04e3" Alias="b89917aa-a496-47be-99ba-2983864c1583" Level="2">
  <Info>
    <Parent Key="7f43740b-86ff-4f57-9354-9db28cc6394f">Questions</Parent>
    <Path>/Questions/b89917aaA49647be99ba2983864c1583</Path>
    <Trashed>false</Trashed>
    <ContentType>questionItem</ContentType>
    <CreateDate>2024-10-07T06:09:16</CreateDate>
    <NodeName Default="b89917aa-a496-47be-99ba-2983864c1583" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <question>
      <Value><![CDATA[Kom igen nu!]]></Value>
    </question>
  </Properties>
</Content>