<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a04fe54-daa4-4cc1-a61b-2ac6f38a965d" Alias="ba7fea60-cac0-41ca-afd6-7f85e31dfb1b" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ba7fea60Cac041caAfd67f85e31dfb1b</Path>
    <Trashed Parent="651e7d48-d381-46bc-8577-f631288e16c4">true</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-09T06:25:55</CreateDate>
    <NodeName Default="ba7fea60-cac0-41ca-afd6-7f85e31dfb1b" />
    <SortOrder>40</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas Persson]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[statistic-advisor]]></Value>
    </service>
  </Properties>
</Content>