<?xml version="1.0" encoding="utf-8"?>
<Content Key="e92d1f8e-26b1-4602-b6ee-144b62cd5716" Alias="ca1ce4c0-a198-44ab-8e6f-41352d9263a9" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ca1ce4c0A19844ab8e6f41352d9263a9</Path>
    <Trashed Parent="651e7d48-d381-46bc-8577-f631288e16c4">true</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-08T12:47:01</CreateDate>
    <NodeName Default="ca1ce4c0-a198-44ab-8e6f-41352d9263a9" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[kalle]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0734270692]]></Value>
    </phone>
    <service>
      <Value><![CDATA[statistic-advisor]]></Value>
    </service>
  </Properties>
</Content>