<?xml version="1.0" encoding="utf-8"?>
<Content Key="651e7d48-d381-46bc-8577-f631288e16c4" Alias="Callback" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Callback</Path>
    <Trashed>false</Trashed>
    <ContentType>callback</ContentType>
    <CreateDate>2024-10-07T06:55:02</CreateDate>
    <NodeName Default="Callback" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>