<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd4bac73-94c6-45b7-bf67-58795d6cda78" Alias="d2132c89-111d-43f8-9b3b-dad15f858dc7" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/d2132c89111d43f89b3bDad15f858dc7</Path>
    <Trashed Parent="7f43740b-86ff-4f57-9354-9db28cc6394f">true</Trashed>
    <ContentType>questionItem</ContentType>
    <CreateDate>2024-10-07T06:39:05</CreateDate>
    <NodeName Default="d2132c89-111d-43f8-9b3b-dad15f858dc7" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Kalle]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <question>
      <Value><![CDATA[wadsefghjk]]></Value>
    </question>
  </Properties>
</Content>