<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e76d1b1-25e9-4fdb-83e7-96db9198e5c4" Alias="e3da632e-1a80-4e21-8ce9-10f07563e31f" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/e3da632e1a804e218ce910f07563e31f</Path>
    <Trashed Parent="7f43740b-86ff-4f57-9354-9db28cc6394f">true</Trashed>
    <ContentType>questionItem</ContentType>
    <CreateDate>2024-10-07T06:27:49</CreateDate>
    <NodeName Default="e3da632e-1a80-4e21-8ce9-10f07563e31f" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andy]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <question>
      <Value><![CDATA[Kom igen nu då!]]></Value>
    </question>
  </Properties>
</Content>