<?xml version="1.0" encoding="utf-8"?>
<Content Key="a131fce0-669b-4452-915e-a6ae1aa63e44" Alias="e8e20db9-a481-45ad-ac61-71061fdb3622" Level="2">
  <Info>
    <Parent Key="651e7d48-d381-46bc-8577-f631288e16c4">Callback</Parent>
    <Path>/Callback/e8e20db9A48145adAc6171061fdb3622</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackItem</ContentType>
    <CreateDate>2024-10-07T07:35:11</CreateDate>
    <NodeName Default="e8e20db9-a481-45ad-ac61-71061fdb3622" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Arne]]></Value>
    </author>
    <email>
      <Value><![CDATA[arne@domain.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[0735698745]]></Value>
    </phone>
    <service>
      <Value><![CDATA[bonds-commodities]]></Value>
    </service>
  </Properties>
</Content>