<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d162dff-fca8-4db1-b048-044d5dfd2f85" Alias="Form Question Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FormQuestionSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>formQuestionSettings</ContentType>
    <CreateDate>2024-10-04T11:42:25</CreateDate>
    <NodeName Default="Form Question Settings" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <buttonColor>
      <Value><![CDATA[{
  "label": "Primary",
  "value": "#4F5955"
}]]></Value>
    </buttonColor>
    <buttonLinkText>
      <Value><![CDATA[Submit]]></Value>
    </buttonLinkText>
    <headline>
      <Value><![CDATA[Have a question ?]]></Value>
    </headline>
    <headlineColor>
      <Value><![CDATA[{
  "label": "Primary",
  "value": "#4F5955"
}]]></Value>
    </headlineColor>
  </Properties>
</Content>