<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a0a5912-3c65-42df-b9ec-725cb1b2f987" Alias="Form Help Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FormHelpSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>formHelpSettings</ContentType>
    <CreateDate>2024-10-04T12:21:53</CreateDate>
    <NodeName Default="Form Help Settings" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "label": "Primary",
  "value": "#4F5955"
}]]></Value>
    </backgroundColor>
    <headline>
      <Value><![CDATA[How can we help you?]]></Value>
    </headline>
    <headlineColor>
      <Value><![CDATA[{
  "label": "Accent",
  "value": "#F2EDDC"
}]]></Value>
    </headlineColor>
    <text>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </text>
    <textColor>
      <Value><![CDATA[{
  "label": "Light",
  "value": "#FFFFFF"
}]]></Value>
    </textColor>
  </Properties>
</Content>