<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d73645e-d923-45c8-93ce-a7e8725401ea" Alias="Help List" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HelpList</Path>
    <Trashed>false</Trashed>
    <ContentType>helpForm</ContentType>
    <CreateDate>2024-10-07T07:40:57</CreateDate>
    <NodeName Default="Help List" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>