<?xml version="1.0" encoding="utf-8"?>
<Content Key="45e88c87-3fe0-4521-8a69-56341f901847" Alias="Project Contact Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProjectContactSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>projectContactSettings</ContentType>
    <CreateDate>2024-10-02T21:08:21</CreateDate>
    <NodeName Default="Project Contact Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <eMailHeadline>
      <Value><![CDATA[E-mail address]]></Value>
    </eMailHeadline>
    <eMailIcon>
      <Value><![CDATA[[
  "fa-regular fa-envelope"
]]]></Value>
    </eMailIcon>
    <eMailIconColor>
      <Value><![CDATA[{
  "label": "Secondary",
  "value": "#D9C3A9"
}]]></Value>
    </eMailIconColor>
    <headline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </headline>
    <officeLocationHeadline>
      <Value><![CDATA[Office location]]></Value>
    </officeLocationHeadline>
    <officeLocationIcon>
      <Value><![CDATA[[
  "fa-light fa-location-dot"
]]]></Value>
    </officeLocationIcon>
    <officeLocationIconColor>
      <Value><![CDATA[{
  "label": "Secondary",
  "value": "#D9C3A9"
}]]></Value>
    </officeLocationIconColor>
    <phoneHeadline>
      <Value><![CDATA[Phone number]]></Value>
    </phoneHeadline>
    <phoneIcon>
      <Value><![CDATA[[
  "fa-regular fa-phone-flip"
]]]></Value>
    </phoneIcon>
    <phoneIconColor>
      <Value><![CDATA[{
  "label": "Secondary",
  "value": "#D9C3A9"
}]]></Value>
    </phoneIconColor>
    <sectionBackgroundColor>
      <Value><![CDATA[{
  "label": "Gray",
  "value": "#F7F7F7"
}]]></Value>
    </sectionBackgroundColor>
    <sectionBackgroundImage1>
      <Value><![CDATA[[
  {
    "key": "a5c5d160-a288-456a-8485-adde3a3c42db",
    "mediaKey": "6de697b8-a5dd-48a3-a5fe-f3c973375a6e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sectionBackgroundImage1>
    <sectionBackgroundImage2>
      <Value><![CDATA[[
  {
    "key": "e01188ff-d59d-4cad-ba22-7a5342b75cca",
    "mediaKey": "fd390cdf-f13e-4fef-afe9-0dfde80e0584",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sectionBackgroundImage2>
    <sectionImage>
      <Value><![CDATA[[
  {
    "key": "dc6c3ea5-8402-4115-910d-20fa707ebc4e",
    "mediaKey": "52a943d1-d137-4b39-bb64-20a37297d424",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sectionImage>
  </Properties>
</Content>