<?xml version="1.0" encoding="utf-8"?>
<Content Key="292487ef-9596-435b-9cf9-cc5d50cf4e7b" Alias="Projects" Level="2">
  <Info>
    <Parent Key="6e60ca44-2b56-408c-95ad-82f3b63812ad">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-10-04T13:26:19</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="945f22cc-449a-47bc-baff-cfd4da7dd12d">projectListPage</Template>
  </Info>
  <Properties>
    <formHelp>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6feb6117-5924-4bf5-9969-5c1c2ce9d8d4",
      "udi": "umb://element/853c8c4f399340bbb59a75d78738f55c"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/853c8c4f399340bbb59a75d78738f55c",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </formHelp>
    <linkText>
      <Value><![CDATA[Read more]]></Value>
    </linkText>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <projectContactSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7d38f99a-772e-4d62-a523-58aead3551d1",
      "udi": "umb://element/1752f81d48de40eebd9eeb9a1875fdde"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/1752f81d48de40eebd9eeb9a1875fdde",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </projectContactSection>
    <tags>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7ba80e97-7b3a-4c9b-b39b-3effe2e61f6b",
      "udi": "umb://element/88a11c9651c24908b4eb9cb77f69a1d4",
      "tagText": "Report"
    },
    {
      "contentTypeKey": "7ba80e97-7b3a-4c9b-b39b-3effe2e61f6b",
      "udi": "umb://element/b920c928ee264fc0b7a380e4ffeddb4b",
      "tagText": "Business plans"
    },
    {
      "contentTypeKey": "7ba80e97-7b3a-4c9b-b39b-3effe2e61f6b",
      "udi": "umb://element/75645f1fdf09480c82a2aa2daa97a406",
      "tagText": "Insights"
    },
    {
      "contentTypeKey": "7ba80e97-7b3a-4c9b-b39b-3effe2e61f6b",
      "udi": "umb://element/5f017a38a6814781a6675dd05f1689ee",
      "tagText": "Business"
    },
    {
      "contentTypeKey": "7ba80e97-7b3a-4c9b-b39b-3effe2e61f6b",
      "udi": "umb://element/c5a4b18079214bd19b513cc3e6d33056",
      "tagText": "App"
    },
    {
      "contentTypeKey": "7ba80e97-7b3a-4c9b-b39b-3effe2e61f6b",
      "udi": "umb://element/5702f3c6d62d45f48dcce8226469a8c9",
      "tagText": "Project"
    },
    {
      "contentTypeKey": "7ba80e97-7b3a-4c9b-b39b-3effe2e61f6b",
      "udi": "umb://element/688b51894ca040509e418d54a69c0eef",
      "tagText": "Finance"
    },
    {
      "contentTypeKey": "7ba80e97-7b3a-4c9b-b39b-3effe2e61f6b",
      "udi": "umb://element/b4cc5a1f65f147949b572e09bbb0b6b2",
      "tagText": "Pricing"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/88a11c9651c24908b4eb9cb77f69a1d4",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/b920c928ee264fc0b7a380e4ffeddb4b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/75645f1fdf09480c82a2aa2daa97a406",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/5f017a38a6814781a6675dd05f1689ee",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/c5a4b18079214bd19b513cc3e6d33056",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/5702f3c6d62d45f48dcce8226469a8c9",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/688b51894ca040509e418d54a69c0eef",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/b4cc5a1f65f147949b572e09bbb0b6b2",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </tags>
  </Properties>
</Content>