<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8437bd4-841a-4433-8a9b-543f0dfc09a9" Alias="Services" Level="2">
  <Info>
    <Parent Key="6e60ca44-2b56-408c-95ad-82f3b63812ad">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-10-03T00:34:01</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d71e083-1d55-42f7-8748-490b7a1ab719">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <projectContactSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7d38f99a-772e-4d62-a523-58aead3551d1",
      "udi": "umb://element/3c63023c66d5403fa8f7e799ee335a2e"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3c63023c66d5403fa8f7e799ee335a2e",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </projectContactSection>
  </Properties>
</Content>