<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8cd95ac-3777-4dae-afeb-60b9e8ea79da" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-19T14:02:05</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "53905b94-a80e-4e7d-9649-9fdc922c636d",
    "mediaKey": "b66fee28-1535-474f-ae39-24fba29795ea",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix Inc.]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions for You]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8ba981b7-3235-4f8f-942d-15c8220f687b",
      "udi": "umb://element/1ab8588eb13b4b28b8b03e6e9744aa71",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "8ba981b7-3235-4f8f-942d-15c8220f687b",
      "udi": "umb://element/8de8e89766a546a6b354424a0eb3cc12",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://linkedin.com/onatrix"
    },
    {
      "contentTypeKey": "8ba981b7-3235-4f8f-942d-15c8220f687b",
      "udi": "umb://element/7379fd00340a451e899d6902ee6b36d6",
      "platformName": "[\u0022X (formerly Twitter)\u0022]",
      "platformAccountUrl": "https://x.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1ab8588eb13b4b28b8b03e6e9744aa71",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/8de8e89766a546a6b354424a0eb3cc12",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/7379fd00340a451e899d6902ee6b36d6",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>