<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed279115-436c-4ee5-9819-64d1633d3beb" Alias="Test (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Test1</Path>
    <Trashed Parent="7f43740b-86ff-4f57-9354-9db28cc6394f">true</Trashed>
    <ContentType>questionItem</ContentType>
    <CreateDate>2024-10-07T04:58:23</CreateDate>
    <NodeName Default="Test (1)" />
    <SortOrder>32</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Andreas]]></Value>
    </author>
    <email>
      <Value><![CDATA[pingis00@hotmail.com]]></Value>
    </email>
    <question>
      <Value><![CDATA[Kan detta fungera?]]></Value>
    </question>
  </Properties>
</Content>