footer {
    padding: 0.8rem 0;

    .container {

        .footer-content {

            p {
                font-size: 12px;
                text-align: center;

                @include md {
                    font-size: 14px;
                    text-align: left;
                }
            }
        }
    }
}
