@mixin text-style($weight: 400, $style: normal, $size: 12px, $sm-size: null, $md-size: null, $lg-size: null, $xl-size: null, $xxl-size: null) {
    font-family: "Poppins", sans-serif;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    
    @if $sm-size != null {
        @include sm {
            font-size: $sm-size;
        }
    }
    
    @if $md-size != null {
        @include md {
            font-size: $md-size;
        }
    }
    
    @if $lg-size != null {
        @include lg {
            font-size: $lg-size;
        }
    }
    
    @if $xl-size != null {
        @include xl {
            font-size: $xl-size;
        }
    }
    
    @if $xxl-size != null {
        @include xxl {
            font-size: $xxl-size;
        }
    }
}

@mixin heading($size, $sm-size: null, $md-size: null, $lg-size: null, $xl-size: null, $xxl-size: null) {
    @include text-style(700, normal, $size, $sm-size, $md-size, $lg-size, $xl-size, $xxl-size);
}

@mixin content-heading($size: 14px, $sm-size: null, $md-size: null, $lg-size: null, $xl-size: null) {
    @include text-style(700, normal, $size, $sm-size, $md-size, $lg-size, $xl-size);
}

@mixin section-name($size: 14px, $sm-size: null, $md-size: null, $lg-size: null, $xl-size: null) {
    @include text-style(700, normal, $size, $sm-size, $md-size, $lg-size, $xl-size);
}

@mixin heading-colors($h1-color, $h2-color, $h3-color, $h4-color, $h5-color, $h6-color) {
    h1 {
        color: $h1-color;
    }

    h2 {
        color: $h2-color;
    }

    h3 {
        color: $h3-color;
    }

    h4 {
        color: $h4-color;
    }

    h5 {
        color: $h5-color;
    }

    h6 {
        color: $h6-color;
    }
}

@mixin theme-headings($bg-color, $h1-color, $h2-color, $h3-color, $h4-color, $h5-color, $h6-color) {
    .custom-bg-#{$bg-color} {
        @include heading-colors($h1-color, $h2-color, $h3-color, $h4-color, $h5-color, $h6-color);
    }
}

@mixin link-colors($link-color, $hover-color) {
    a {
        color: $link-color;

        &:hover, &:focus, &:active {
            color: $hover-color;
        }
    }
}

@mixin theme-links($bg-color, $link-color, $hover-color) {
    .custom-bg-#{$bg-color} {
        @include link-colors($link-color, $hover-color);
    }
}

