@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Web.Common.PublishedModels.ServiceItemTemplate>

@{
    Layout = "mainLayout.cshtml";
    ViewBag.Title = Model.Name;

    var blockGrid = Model.Value<BlockGridModel>("pageContent");
}

@if (!string.IsNullOrEmpty(ViewBag.Title))
{
    @await Html.PartialAsync("partials/static/breadcrumb.cshtml");
}

<section class="service-details">
    
        @if (blockGrid != null && blockGrid.Count() > 0)
        {
            // Rendera alla block
            @await Html.GetBlockGridHtmlAsync(blockGrid)
        }
        else
        {
            <p>No content found in the layout.</p>
        }
    
</section>

