@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoCMS_SubmissionTask.Views.Helpers

@{
    var responsivePadding = ResponsivePaddingHelper.GetResponsivePaddingClasses(Model!);
    var responsiveMargin = ResponsiveMarginHelper.GetResponsiveMarginClasses(Model!);
    var responsiveTextAlign = ResponsiveTextAlignHelper.GetResponsiveTextAlign(Model!);
    var widthClasses = WidthHelper.GetResponsiveWidth(Model!);
}

<div class="container @responsivePadding @responsiveMargin @responsiveTextAlign @widthClasses">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)

    <div class="content-wrapper">
        <div class="content">
            <h2>689</h2>
            <p>More than 100 customers has been served</p>
        </div>
        <div class="content">
            <h2>370</h2>
            <p>More than 370 projects has been completed</p>
        </div>
        <div class="content">
            <h2>125</h2>
            <p>More than 125 branches has been established in Europe and America</p>
        </div>
    </div>
</div>