@using Umbraco.Cms.Web.Common.PublishedModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters
@using UmbracoCMS_SubmissionTask.Views.Helpers
@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    var headlineContent = Model?.Content.Value<string>("headlineContent") ?? null;
    var fontStyle = Model?.Content.Value<string[]>("fontStyle")?.FirstOrDefault() ?? Model?.Content.Value<string>("fontStyle") ?? "Normal";
    var fontStyleClass = (fontStyle.Equals("Italic", StringComparison.OrdinalIgnoreCase)) ? "italic" : "normal";

    var textColor = Model?.Content?.Value<ColorPickerValueConverter.PickedColor>("textColor")?.Label.ToLower() ?? null;
    var textColorClass = (!string.IsNullOrEmpty(textColor) && textColor != "none") ? $"text-color-{textColor}" : "";

    var responsivePadding = ResponsivePaddingHelper.GetResponsivePaddingClasses(Model!);
    var responsiveMargin = ResponsiveMarginHelper.GetResponsiveMarginClasses(Model!);
    var fontWeightClass = FontWeightHelper.GetFontWeightClasses(Model!);
    var fontClassesForH1 = ResponsiveFontHelper.GetResponsiveFontClasses(Model!, "h2");
    var responsiveTextAlign = ResponsiveTextAlignHelper.GetResponsiveTextAlign(Model!);
    var widthClasses = WidthHelper.GetResponsiveWidth(Model!);
}

@if (!string.IsNullOrEmpty(headlineContent)) {
    <h2 class="heading-2 @responsivePadding @responsiveMargin @fontStyleClass @(string.IsNullOrEmpty(textColorClass) ? "" : textColorClass) @fontWeightClass @fontClassesForH1 @responsiveTextAlign @widthClasses">
        @headlineContent
    </h2>
}