@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var headlineContent = Model?.Content.Value<string>("headlineContent") ?? null;
}

@if (!string.IsNullOrEmpty(headlineContent)) {
    <h6 class="heading-6">@headlineContent</h6>
}