@using Umbraco.Cms.Web.Common.PublishedModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    var latitude = Model?.Content.Value<double>("latitude") ?? 0;
    var longitude = Model?.Content.Value<double>("longitude") ?? 0;
}




    <div class="map-container" style="height: 500px;">
        <div id="googleMap" style="width:100%;height:100%;"></div>
    </div>

<script>
    function initMap() {
        console.log("Init map function triggered");
        var location = { lat: @latitude, lng: @longitude };
        var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 15,
            center: location
        });
        const markerView = new google.maps.marker.AdvancedMarkerElement({
            position: location,
            map: map,
            title: "Your location"
        });
    }
</script>



