.custom-btn-dark, .custom-btn-primary, .custom-btn-secondary, .custom-btn-accent, .custom-btn-gray, .custom-btn-light {
    @include btn;
}

.custom-btn-menu {
    @include btn-circle;
    height:45px;
    width: 45px;
    font-size: 1rem;
}