.section-with-bg-image {
    overflow: visible;
}

.form-container {
    width: 100%;
    margin-top: 30px;
    position: relative;


    .form-wrapper {
        background-color: #FFFFFF;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

        @include md {
            position: absolute;
            top: -180px;
            z-index: 10;
            margin-top: 0;
        }

        @include lg {
            top: -160px;
        }

        @include xl {
            top: -190px;
        }

        .form-header {
            background-color: var(--color-primary);
            padding: 25px;
            padding-bottom: 15px;

            .headline {
            }
        }

        .text {
            margin-left: 25px;
            margin-right: 25px;
            margin-top: 25px;
        }

        .form {
            display: flex;
            flex-direction: column;
            padding: 25px;

            input, select {
                width: 100%;
                margin-bottom: 20px;
                padding: 15px 25px;
                border: 1px solid #EBEBEB;

                &::placeholder {
                    color: #9C9EA6;
                }
            }

            .form-input-error {
                display: none;
            }

            .form-invalid-input {
                display: block;
                color: red;
            }

            .btn-submit {
            }
        }

        .success-message {
            color: green;
            font-weight: 700;
        }
    }
}

.form-container-help {
    width: 100%;
    border-radius: 3px;

    .form-wrapper {
        padding: 30px 20px;

        .form-header {

            .headline {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 20px;
            }
        }

        .text {
            font-size: 14px;
            margin-bottom: 25px;

            @include xl {
                width: 90%;
            }
        }

        .form {
            display: flex;
            flex-direction: column;


            input {
                width: 100%;
                padding: 15px 25px;
                border: 1px solid #EBEBEB;
                border-radius: 4px;

                &::placeholder {
                    color: #9C9EA6;
                }
            }

            .form-input-error {
                display: none;
            }

            .form-invalid-input {
                display: block;
                color: red;
            }
        }

        .success-message {
            color: green;
            font-weight: 700;
        }
    }
}

.form-container-question {
    width: 100%;
    margin-top: 30px;

    .form-wrapper {

        .form-header {
            padding: 25px;
            padding-bottom: 15px;

            .headline {
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            padding: 25px;

            @include md {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
                align-items: start;
            }


            .form-input-group {
                width: 100%;
                margin-bottom: 20px;

                @include md {
                    grid-column: span 1;
                    margin-bottom: 0;
                }
            }

            .text-area {
                width: 100%;

                @include md {
                    grid-column: span 2;
                }
            }

            input, textarea {
                width: 100%;
                padding: 15px 25px;
                border: 1px solid #EBEBEB;
                border-radius: 5px;

                &::placeholder {
                    color: #9C9EA6;
                }
            }

            .form-input-error {
                display: none;
            }

            .form-invalid-input {
                display: block;
                color: red;
            }



            .btn-submit {
                width: 100%;
                color: #F2EDDC;
                margin-top: 20px;

                @include md {
                    width: auto;
                    justify-self: start;
                    margin-top: 0;
                }
            }
        }

        .success-message {
            color: green;
            font-weight: 700;
        }
    }
}

.map-section {
    
}

.form-map-section {
    width: 100%;
    margin-bottom: 200px;

    .container {
        position: relative;

        .form-wrapper {
            position: absolute;
            left: 50%;
            z-index: 10;
            background-color: #FFFFFF;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            transform: translate(-50%, -70%);
            padding: 70px;
            width: 100%;


            @include md {
            }

            @include lg {
            }

            @include xl {
            }

            .form-header {
                text-align: center;


                .section-headline {
                    margin-bottom: 10px;
                }

                .headline {
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 25px;

                    @include md {
                        width: 70%;
                    }

                    @include lg {
                        width: 60%;
                    }

                    @include xl {
                        width: 50%;
                    }

                    @include xxl {
                        width: 45%;
                    }
                }

                .text {
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 25px;

                    @include md {
                        width: 90%;
                    }

                    @include lg {
                        width: 60%;
                    }

                    @include xl {
                        width: 50%;
                    }

                    @include xxl {
                        width: 45%;
                    }
                }
            }

            .form {
                display: grid;
                grid-template-columns: 1fr;
                gap: 20px;

                @include md {
                    grid-template-columns: 1fr 1fr;
                }


                input, select {
                    width: 100%;
                    padding: 15px 15px;
                    border: 1px solid #EBEBEB;


                    &::placeholder {
                        color: #9C9EA6;
                    }
                }

                .form-input-error {
                    display: none;
                }

                .form-invalid-input {
                    display: block;
                    color: red;
                }

                .btn-submit {
                    margin-top: 10px;
                    margin-left: auto;
                    margin-right: auto;
                    color: white;

                    @include md {
                        grid-column: span 2;
                    }
                }
            }

            .success-message {
                color: green;
                font-weight: 700;
            }
        }
    }
}

