@each $size, $breakpoint in ('mobile': null, 'small': 576px, 'medium': 768px, 'large': 992px, 'xl': 1200px, 'xxl': 1400px) {
    @each $padding in (xs, s, m, l, xl, xxl) {
        $spacing-value: if($padding == xs, 10px, if($padding == s, 20px, if($padding == m, 40px, if($padding == l, 60px, if($padding == xl, 80px, if($padding == xxl, 100px, null))))));

        @if $size == 'mobile' {
            .p-top-#{$size}-#{$padding} {
                padding-top: $spacing-value !important;
            }

            .p-bottom-#{$size}-#{$padding} {
                padding-bottom: $spacing-value !important;
            }

            .p-left-#{$size}-#{$padding} {
                padding-left: $spacing-value !important;
            }

            .p-right-#{$size}-#{$padding} {
                padding-right: $spacing-value !important;
            }
        }
        @else {
            @media (min-width: $breakpoint) {
                .p-top-#{$size}-#{$padding} {
                    padding-top: $spacing-value !important;
                }

                .p-bottom-#{$size}-#{$padding} {
                    padding-bottom: $spacing-value !important;
                }

                .p-left-#{$size}-#{$padding} {
                    padding-left: $spacing-value !important;
                }

                .p-right-#{$size}-#{$padding} {
                    padding-right: $spacing-value !important;
                }
            }
        }
    }
}

@each $size, $breakpoint in ('mobile': null, 'small': 576px, 'medium': 768px, 'large': 992px, 'xl': 1200px, 'xxl': 1400px) {
    @each $margin in (xs, s, m, l, xl, xxl) {
        $spacing-value: if($margin == xs, 5px, if($margin == s, 10px, if($margin == m, 15px, if($margin == l, 20px, if($margin == xl, 40px, if($margin == xxl, 60px, null))))));

        @if $size == 'mobile' {
            .m-top-#{$size}-#{$margin} {
                margin-top: $spacing-value;
            }

            .m-bottom-#{$size}-#{$margin} {
                margin-bottom: $spacing-value;
            }

            .m-left-#{$size}-#{$margin} {
                margin-left: $spacing-value;
            }

            .m-right-#{$size}-#{$margin} {
                margin-right: $spacing-value;
            }
        }
        @else {
            @media (min-width: $breakpoint) {
                .m-top-#{$size}-#{$margin} {
                    margin-top: $spacing-value;
                }

                .m-bottom-#{$size}-#{$margin} {
                    margin-bottom: $spacing-value;
                }

                .m-left-#{$size}-#{$margin} {
                    margin-left: $spacing-value;
                }

                .m-right-#{$size}-#{$margin} {
                    margin-right: $spacing-value;
                }
            }
        }
    }
}

@each $size, $breakpoint in ('mobile': null, 'small': 576px, 'medium': 768px, 'large': 992px, 'xl': 1200px, 'xxl': 1400px) {
    @if $size == 'mobile' {
        .m-#{$size}-auto {
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
    @else {
        @media (min-width: $breakpoint) {
            .m-#{$size}-auto {
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }
    }
}