﻿h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.2;
}

h1 {
    @include heading(40px, null, 58px, 70px, null);
}

h2 {
    @include heading(26px, 32px, null, 40px, null);
}

h3 {
    @include heading(30px);
}

h4 {
    @include heading(22px);
}

h5 {
    @include heading(18px);

    &.content-heading {
        @include content-heading(18px);
    }
}

h6 {
    @include heading(14px);
}

p {
    @include text-style(400, normal, 12px, 14px, null, null, null);
    margin: 0;
    color: #535656;
}

.italic {
    font-style: italic !important;
}

.normal {
    font-style: normal;
}

.custom-section-title {
    @include section-name;
    color: var(--color-secondary);
}

@each $weight in (300, 400, 500, 600, 700, 800) {
    .font-weight-#{$weight} {
        font-weight: $weight !important;
    }
}

@each $size, $breakpoint in ('xs': null, 'sm': 576px, 'md': 768px, 'lg': 992px, 'xl': 1200px, 'xxl': 1400px) {
    @each $element, $sizes in ( 'p': (xs: 10px, s: 12px, m: 14px, l: 16px, xl: 18px, xxl: 20px), 'h1': (xs: 32px, s: 40px, m: 48px, l: 58px, xl: 70px, xxl: 80px), 'h2': (xs: 22px, s: 26px, m: 32px, l: 40px, xl: 48px, xxl: 58px), 'h3': (xs: 18px, s: 20px, m: 24px, l: 30px, xl: 36px, xxl: 40px), 'h4': (xs: 16px, s: 18px, m: 22px, l: 26px, xl: 30px, xxl: 34px), 'h5': (xs: 14px, s: 16px, m: 18px, l: 22px, xl: 26px, xxl: 30px), 'h6': (xs: 12px, s: 14px, m: 16px, l: 18px, xl: 20px, xxl: 24px) ) {
        @each $font-size, $value in $sizes {
            @if $size == 'xs' {
                .#{$element}-font-size-xs-#{$font-size} {
                    font-size: $value;
                }
            }
            @else {
                @media (min-width: $breakpoint) {
                    .#{$element}-font-size-#{$size}-#{$font-size} {
                        font-size: $value;
                    }
                }
            }
        }
    }
}

@each $size, $breakpoint in ('xs': null, 'sm': 576px, 'md': 768px, 'lg': 992px, 'xl': 1200px, 'xxl': 1400px) {
    @each $text-align in (left, center, right, justify) {
        @if $size == 'xs' {
            .text-align-xs-#{$text-align} {
                text-align: $text-align;
            }
        }
        @else {
            @media (min-width: $breakpoint) {
                .text-align-#{$size}-#{$text-align} {
                    text-align: $text-align;
                }
            }
        }
    }
}

