<?xml version="1.0" encoding="utf-8"?>
<Media Key="6fa83f59-fba5-4000-bd0a-75ae8c604d18" Alias="Aaron-image-big.svg" Level="3">
  <Info>
    <Parent Key="b7cab80a-0f60-4035-ac81-dd3c510b8ed6">Team Member Section</Parent>
    <Path>/AboutUs/TeamMemberSection/AaronImageBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-02T14:28:04</CreateDate>
    <NodeName Default="Aaron-image-big.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vobavdn4/aaron-image-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>