<?xml version="1.0" encoding="utf-8"?>
<Media Key="b954efae-f43e-427b-8775-4ab188bbd840" Alias="About Us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-01T15:26:02</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>