<?xml version="1.0" encoding="utf-8"?>
<Media Key="f804eb02-8a49-4b63-8236-4f3998ef8c5a" Alias="About Us Section" Level="2">
  <Info>
    <Parent Key="5e6ebe18-0ad1-4d18-9643-b9736e41b462">Home</Parent>
    <Path>/Home/AboutUsSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-20T08:25:17</CreateDate>
    <NodeName Default="About Us Section" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>