<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6007f63-8290-436c-966d-29d349cc0027" Alias="AJ-image-big.svg" Level="3">
  <Info>
    <Parent Key="b7cab80a-0f60-4035-ac81-dd3c510b8ed6">Team Member Section</Parent>
    <Path>/AboutUs/TeamMemberSection/AJImageBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-02T14:28:06</CreateDate>
    <NodeName Default="AJ-image-big.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/shbkefel/aj-image-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>