<?xml version="1.0" encoding="utf-8"?>
<Media Key="f24bf3f6-a153-49f7-adb3-5be4c04d0e82" Alias="annualReport-big.svg" Level="3">
  <Info>
    <Parent Key="14c84e79-ecca-437a-a5e0-0ec456ed0823">Big</Parent>
    <Path>/Services/Big/annualReportBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T09:26:23</CreateDate>
    <NodeName Default="annualReport-big.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/arhoseci/annualreport-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>