<?xml version="1.0" encoding="utf-8"?>
<Media Key="b44e5e77-2411-4141-986c-c162524f46ac" Alias="annualReport.svg" Level="3">
  <Info>
    <Parent Key="8552e295-97a7-4ef7-8684-04195f111470">Small</Parent>
    <Path>/Services/Small/annualReportsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T09:36:25</CreateDate>
    <NodeName Default="annualReport.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qxrpyvqk/annualreport.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>