<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e766010-da4b-445e-bb7e-23b99abe8c62" Alias="assuranceAudits-big.svg" Level="3">
  <Info>
    <Parent Key="14c84e79-ecca-437a-a5e0-0ec456ed0823">Big</Parent>
    <Path>/Services/Big/assuranceAuditsBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T09:26:17</CreateDate>
    <NodeName Default="assuranceAudits-big.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2lonjtcq/assuranceaudits-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>