<?xml version="1.0" encoding="utf-8"?>
<Media Key="f963f962-5e96-4213-b109-9a6c7187722a" Alias="assuranceAudits.svg" Level="3">
  <Info>
    <Parent Key="8552e295-97a7-4ef7-8684-04195f111470">Small</Parent>
    <Path>/Services/Small/assuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T00:42:35</CreateDate>
    <NodeName Default="assuranceAudits.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sbcmcg2n/assuranceaudits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>