<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd390cdf-f13e-4fef-afe9-0dfde80e0584" Alias="Bg-project-contact.svg" Level="2">
  <Info>
    <Parent Key="36e108eb-ea77-4586-be92-324f613c4193">Shared</Parent>
    <Path>/Shared/BgProjectContactsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-02T21:52:31</CreateDate>
    <NodeName Default="Bg-project-contact.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fwyjwhzf/bg-project-contact.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>