<?xml version="1.0" encoding="utf-8"?>
<Media Key="950745b3-2042-4289-a6e9-1c52c0f5c747" Alias="bondsCommodities-big.svg" Level="3">
  <Info>
    <Parent Key="14c84e79-ecca-437a-a5e0-0ec456ed0823">Big</Parent>
    <Path>/Services/Big/bondsCommoditiesBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T09:22:28</CreateDate>
    <NodeName Default="bondsCommodities-big.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ih2kk30z/bondscommodities-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>