<?xml version="1.0" encoding="utf-8"?>
<Media Key="e35e811c-c106-47d3-848c-00168f260c8f" Alias="bondsCommodities.svg" Level="3">
  <Info>
    <Parent Key="8552e295-97a7-4ef7-8684-04195f111470">Small</Parent>
    <Path>/Services/Small/bondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T00:42:36</CreateDate>
    <NodeName Default="bondsCommodities.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3y4pyai3/bondscommodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>