<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d2519cf-b3c7-4a9d-b903-277d5343e3de" Alias="budget-planningFor-buccura-big.svg" Level="2">
  <Info>
    <Parent Key="845efc64-79d6-40c1-b3cf-402923540b3f">Our projects</Parent>
    <Path>/OurProjects/budgetPlanningForBuccuraBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-06T16:30:25</CreateDate>
    <NodeName Default="budget-planningFor-buccura-big.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hwsiph42/budget-planningfor-buccura-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>