<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9b224cc-e6e4-46e7-b873-0167bebbdc18" Alias="budgetPlanning.svg" Level="3">
  <Info>
    <Parent Key="8552e295-97a7-4ef7-8684-04195f111470">Small</Parent>
    <Path>/Services/Small/budgetPlanningsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T09:36:28</CreateDate>
    <NodeName Default="budgetPlanning.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h0mbas55/budgetplanning.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>