<?xml version="1.0" encoding="utf-8"?>
<Media Key="6247f5af-39f9-4406-b742-be0d44062177" Alias="budgetPlanning-big.svg" Level="3">
  <Info>
    <Parent Key="14c84e79-ecca-437a-a5e0-0ec456ed0823">Big</Parent>
    <Path>/Services/Big/budgetPlanningBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T09:26:20</CreateDate>
    <NodeName Default="budgetPlanning-big.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lveolahc/budgetplanning-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>