<?xml version="1.0" encoding="utf-8"?>
<Media Key="480f22cf-8d3c-44fc-92e3-12aea4c868d2" Alias="budgetPlanning.svg" Level="2">
  <Info>
    <Parent Key="845efc64-79d6-40c1-b3cf-402923540b3f">Our projects</Parent>
    <Path>/OurProjects/budgetPlanningsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T13:37:15</CreateDate>
    <NodeName Default="budgetPlanning.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hwpl1krh/budgetplanning.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>