<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d8c54e8-8cf7-47e5-a992-4ba62a8f9fa1" Alias="businessInsights.svg" Level="2">
  <Info>
    <Parent Key="845efc64-79d6-40c1-b3cf-402923540b3f">Our projects</Parent>
    <Path>/OurProjects/businessInsightssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T13:37:17</CreateDate>
    <NodeName Default="businessInsights.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dlud315m/businessinsight.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>