<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f6db8fc-55a9-424f-9ae9-17b964028d8a" Alias="businessInsights-big.svg" Level="3">
  <Info>
    <Parent Key="14c84e79-ecca-437a-a5e0-0ec456ed0823">Big</Parent>
    <Path>/Services/Big/businessInsightsBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T09:26:21</CreateDate>
    <NodeName Default="businessInsights-big.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bycn5tns/businessinsights-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>