<?xml version="1.0" encoding="utf-8"?>
<Media Key="76a9b4f7-af1c-4267-8a5b-1c769d64a327" Alias="businessInsight.svg" Level="3">
  <Info>
    <Parent Key="8552e295-97a7-4ef7-8684-04195f111470">Small</Parent>
    <Path>/Services/Small/businessInsightsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T09:36:26</CreateDate>
    <NodeName Default="businessInsight.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/auebxfah/businessinsight.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>