<?xml version="1.0" encoding="utf-8"?>
<Media Key="620bf013-2df6-46cf-9d9e-22726cfb1892" Alias="business-insightfor-big.svg" Level="2">
  <Info>
    <Parent Key="845efc64-79d6-40c1-b3cf-402923540b3f">Our projects</Parent>
    <Path>/OurProjects/businessInsightforBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-06T16:25:07</CreateDate>
    <NodeName Default="business-insightfor-big.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2fgltahn/business-insightfor-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>