<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e391974-0f9e-4911-b054-c4d4c4d9b786" Alias="Dot map2.svg" Level="3">
  <Info>
    <Parent Key="cee68884-a388-481a-8385-39fb556a1531">Success Section</Parent>
    <Path>/Home/SuccessSection/DotMap2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T13:07:08</CreateDate>
    <NodeName Default="Dot map2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q0sjxpef/dot-map2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>