<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9c68ed8-d896-4df4-ace5-633d3ad977ab" Alias="dot-map-1.svg" Level="3">
  <Info>
    <Parent Key="3f1f6f9a-77e9-420f-a107-5d3de082be13">Trusted section</Parent>
    <Path>/Home/TrustedSection/dotMap1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T15:06:38</CreateDate>
    <NodeName Default="dot-map-1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fizhiw2n/dot-map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>