<?xml version="1.0" encoding="utf-8"?>
<Media Key="bece5e9b-4f26-4d76-8dee-fb1d1e412645" Alias="financialAdvisorIrra.svg" Level="2">
  <Info>
    <Parent Key="845efc64-79d6-40c1-b3cf-402923540b3f">Our projects</Parent>
    <Path>/OurProjects/financialAdvisorIrrasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T13:37:14</CreateDate>
    <NodeName Default="financialAdvisorIrra.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nhrhyxb3/financialadvisorirra.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>