<?xml version="1.0" encoding="utf-8"?>
<Media Key="92fad871-d790-4e6b-a633-30a9ab0ccdb0" Alias="financial-advisorsTo-Irra-big.svg" Level="2">
  <Info>
    <Parent Key="845efc64-79d6-40c1-b3cf-402923540b3f">Our projects</Parent>
    <Path>/OurProjects/financialAdvisorsToIrraBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-06T16:30:28</CreateDate>
    <NodeName Default="financial-advisorsTo-Irra-big.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qnsfq2el/financial-advisorsto-irra-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>