<?xml version="1.0" encoding="utf-8"?>
<Media Key="df1422d3-cbeb-4598-a1b4-7e4c020f3ddf" Alias="financialAdvisor.svg" Level="3">
  <Info>
    <Parent Key="8552e295-97a7-4ef7-8684-04195f111470">Small</Parent>
    <Path>/Services/Small/financialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T00:42:21</CreateDate>
    <NodeName Default="financialAdvisor.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/egplmppq/financialadvisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>