<?xml version="1.0" encoding="utf-8"?>
<Media Key="75a81b52-5f4e-41df-9491-c30f2aede8bb" Alias="Financial-advisor-big.svg" Level="3">
  <Info>
    <Parent Key="14c84e79-ecca-437a-a5e0-0ec456ed0823">Big</Parent>
    <Path>/Services/Big/FinancialAdvisorBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T09:26:18</CreateDate>
    <NodeName Default="Financial-advisor-big.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uctavf0v/financial-advisor-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>