<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bd39d1a-f062-4830-ae00-d5d1257443fc" Alias="financialForIrra.svg" Level="3">
  <Info>
    <Parent Key="8552e295-97a7-4ef7-8684-04195f111470">Small</Parent>
    <Path>/Services/Small/financialForIrrasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T09:36:27</CreateDate>
    <NodeName Default="financialForIrra.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3aqhd4lz/financialadvisorirra.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>