<?xml version="1.0" encoding="utf-8"?>
<Media Key="801e4445-65ef-4a15-924e-7bcd61502689" Alias="Hero Section" Level="2">
  <Info>
    <Parent Key="5e6ebe18-0ad1-4d18-9643-b9736e41b462">Home</Parent>
    <Path>/Home/HeroSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-20T08:22:05</CreateDate>
    <NodeName Default="Hero Section" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>