<?xml version="1.0" encoding="utf-8"?>
<Media Key="06ff4b0c-6098-4e66-945b-8f550b785f70" Alias="hero-image.svg" Level="3">
  <Info>
    <Parent Key="801e4445-65ef-4a15-924e-7bcd61502689">Hero Section</Parent>
    <Path>/Home/HeroSection/heroImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T16:25:40</CreateDate>
    <NodeName Default="hero-image.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/511f1zed/hero-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>