<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e6ebe18-0ad1-4d18-9643-b9736e41b462" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-20T08:24:43</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>