<?xml version="1.0" encoding="utf-8"?>
<Media Key="10c0957a-1e1a-422e-a7f6-353f2962a57d" Alias="image-tinafox-ceo.svg" Level="3">
  <Info>
    <Parent Key="7b1b7e47-1511-43e9-b4a8-6f2e72d063f8">Intro Section</Parent>
    <Path>/AboutUs/IntroSection/imageTinafoxCeosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T15:27:59</CreateDate>
    <NodeName Default="image-tinafox-ceo.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/raugf2qb/image-tinafox-ceo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>