<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b1b7e47-1511-43e9-b4a8-6f2e72d063f8" Alias="Intro Section" Level="2">
  <Info>
    <Parent Key="b954efae-f43e-427b-8775-4ab188bbd840">About Us</Parent>
    <Path>/AboutUs/IntroSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-01T15:26:27</CreateDate>
    <NodeName Default="Intro Section" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>