<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3d8150e-014d-4353-84b4-63c1c84e58ed" Alias="kevin-gardner.svg" Level="3">
  <Info>
    <Parent Key="93e8cafd-1992-48df-99f4-895ef1da28c9">Review Section</Parent>
    <Path>/AboutUs/ReviewSection/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T16:50:39</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5suhuqkw/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>