<?xml version="1.0" encoding="utf-8"?>
<Media Key="61ac3f9b-f8cb-4cf3-a21b-4c212d0c987c" Alias="Kevin-Image-small.svg" Level="3">
  <Info>
    <Parent Key="b7cab80a-0f60-4035-ac81-dd3c510b8ed6">Team Member Section</Parent>
    <Path>/AboutUs/TeamMemberSection/KevinImageSmallsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-02T14:28:08</CreateDate>
    <NodeName Default="Kevin-Image-small.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ngba3a4q/kevin-image-small.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>