<?xml version="1.0" encoding="utf-8"?>
<Media Key="4661a9ea-f49e-4eb7-afbb-41b0cfa94580" Alias="Miranda-image-small.svg" Level="3">
  <Info>
    <Parent Key="b7cab80a-0f60-4035-ac81-dd3c510b8ed6">Team Member Section</Parent>
    <Path>/AboutUs/TeamMemberSection/MirandaImageSmallsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-02T14:28:01</CreateDate>
    <NodeName Default="Miranda-image-small.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dakmhjef/miranda-image-small.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>