<?xml version="1.0" encoding="utf-8"?>
<Media Key="b66fee28-1535-474f-ae39-24fba29795ea" Alias="Onatrix.svg" Level="2">
  <Info>
    <Parent Key="36e108eb-ea77-4586-be92-324f613c4193">Shared</Parent>
    <Path>/Shared/Onatrixsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T13:58:11</CreateDate>
    <NodeName Default="Onatrix.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1jjn0vbo/onatrix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>