<?xml version="1.0" encoding="utf-8"?>
<Media Key="845efc64-79d6-40c1-b3cf-402923540b3f" Alias="Our projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OurProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-04T13:35:16</CreateDate>
    <NodeName Default="Our projects" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>