<?xml version="1.0" encoding="utf-8"?>
<Media Key="44a35a63-c425-4ccb-bde3-32e84ec941a4" Alias="partner-6.svg" Level="2">
  <Info>
    <Parent Key="d1b179af-d248-41c6-970c-8ad992b5dddf">Partners</Parent>
    <Path>/Partners/partner6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T13:47:19</CreateDate>
    <NodeName Default="partner-6.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/shtbdjr4/partner-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>