<?xml version="1.0" encoding="utf-8"?>
<Media Key="736dab20-37f5-4777-9f72-735cf3cc0e0f" Alias="partner-4.svg" Level="2">
  <Info>
    <Parent Key="d1b179af-d248-41c6-970c-8ad992b5dddf">Partners</Parent>
    <Path>/Partners/partner4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T13:47:07</CreateDate>
    <NodeName Default="partner-4.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ilm5epo/partner-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>