<?xml version="1.0" encoding="utf-8"?>
<Media Key="60aa6def-6f52-4867-8955-b9b16eeeb585" Alias="partner-1.svg" Level="2">
  <Info>
    <Parent Key="d1b179af-d248-41c6-970c-8ad992b5dddf">Partners</Parent>
    <Path>/Partners/partner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T13:46:55</CreateDate>
    <NodeName Default="partner-1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dxiarasj/partner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>