<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f28da94-de43-47a5-84db-2f016086b81c" Alias="partner-3.svg" Level="2">
  <Info>
    <Parent Key="d1b179af-d248-41c6-970c-8ad992b5dddf">Partners</Parent>
    <Path>/Partners/partner3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T13:47:03</CreateDate>
    <NodeName Default="partner-3.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mztjvhky/partner-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>