<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1b179af-d248-41c6-970c-8ad992b5dddf" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-18T13:56:48</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>