<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2b6a74e-8987-4c70-96d6-5444503e50ae" Alias="partner-2.svg" Level="2">
  <Info>
    <Parent Key="d1b179af-d248-41c6-970c-8ad992b5dddf">Partners</Parent>
    <Path>/Partners/partner2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T13:47:00</CreateDate>
    <NodeName Default="partner-2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xqnbiue2/partner-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>