<?xml version="1.0" encoding="utf-8"?>
<Media Key="52a943d1-d137-4b39-bb64-20a37297d424" Alias="project-contact-image.svg" Level="2">
  <Info>
    <Parent Key="36e108eb-ea77-4586-be92-324f613c4193">Shared</Parent>
    <Path>/Shared/projectContactImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-02T21:52:32</CreateDate>
    <NodeName Default="project-contact-image.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ep5axmbm/project-contact-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>