<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bec0d0c-00a6-466f-8e26-b079f67812f9" Alias="project-shared-image.svg" Level="2">
  <Info>
    <Parent Key="845efc64-79d6-40c1-b3cf-402923540b3f">Our projects</Parent>
    <Path>/OurProjects/projectSharedImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-06T20:30:20</CreateDate>
    <NodeName Default="project-shared-image.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/50ye3gn3/project-shared-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>