<?xml version="1.0" encoding="utf-8"?>
<Media Key="6de697b8-a5dd-48a3-a5fe-f3c973375a6e" Alias="project-contact-dot-image.svg" Level="2">
  <Info>
    <Parent Key="36e108eb-ea77-4586-be92-324f613c4193">Shared</Parent>
    <Path>/Shared/projectContactDotImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-02T21:52:30</CreateDate>
    <NodeName Default="project-contact-dot-image.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jivejd4g/project-contact-dot-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>