<?xml version="1.0" encoding="utf-8"?>
<Media Key="5296f233-298c-4ef1-ba8d-01ebc8287480" Alias="project-shared.svg" Level="2">
  <Info>
    <Parent Key="845efc64-79d6-40c1-b3cf-402923540b3f">Our projects</Parent>
    <Path>/OurProjects/projectSharedsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T07:52:12</CreateDate>
    <NodeName Default="project-shared.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yfhdjmex/project-shared.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>