<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1afe788-22a4-4314-a921-43f3b6ea07ad" Alias="Rating.svg" Level="3">
  <Info>
    <Parent Key="93e8cafd-1992-48df-99f4-895ef1da28c9">Review Section</Parent>
    <Path>/AboutUs/ReviewSection/Ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T22:19:33</CreateDate>
    <NodeName Default="Rating.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pjna0m35/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>