<?xml version="1.0" encoding="utf-8"?>
<Media Key="93e8cafd-1992-48df-99f4-895ef1da28c9" Alias="Review Section" Level="2">
  <Info>
    <Parent Key="b954efae-f43e-427b-8775-4ab188bbd840">About Us</Parent>
    <Path>/AboutUs/ReviewSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-01T16:50:23</CreateDate>
    <NodeName Default="Review Section" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>