<?xml version="1.0" encoding="utf-8"?>
<Media Key="3942709f-77ba-492d-9449-60da94c0490b" Alias="riskmanagement.svg" Level="3">
  <Info>
    <Parent Key="8552e295-97a7-4ef7-8684-04195f111470">Small</Parent>
    <Path>/Services/Small/riskmanagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T00:42:22</CreateDate>
    <NodeName Default="riskmanagement.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nxgpbw3b/riskmanagement.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>