<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ac2b13c-a4f6-4b74-90ac-52e3d2ac88ea" Alias="riskmanagementBig2.svg" Level="3">
  <Info>
    <Parent Key="14c84e79-ecca-437a-a5e0-0ec456ed0823">Big</Parent>
    <Path>/Services/Big/riskmanagementBig2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T00:42:25</CreateDate>
    <NodeName Default="riskmanagementBig2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zyggbghn/riskmanagementbig2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>