<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b41c6c9-595f-4d07-b61c-bdce855a8cf2" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-18T13:56:59</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>