<?xml version="1.0" encoding="utf-8"?>
<Media Key="36e108eb-ea77-4586-be92-324f613c4193" Alias="Shared" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Shared</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-18T13:56:33</CreateDate>
    <NodeName Default="Shared" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>