<?xml version="1.0" encoding="utf-8"?>
<Media Key="18088b1d-8696-4249-9107-46fdb079f3d0" Alias="signature-tina.svg" Level="3">
  <Info>
    <Parent Key="f804eb02-8a49-4b63-8236-4f3998ef8c5a">About Us Section</Parent>
    <Path>/Home/AboutUsSection/signatureTinasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T08:23:40</CreateDate>
    <NodeName Default="signature-tina.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/321kv4un/signature-tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>