<?xml version="1.0" encoding="utf-8"?>
<Media Key="8552e295-97a7-4ef7-8684-04195f111470" Alias="Small" Level="2">
  <Info>
    <Parent Key="2b41c6c9-595f-4d07-b61c-bdce855a8cf2">Services</Parent>
    <Path>/Services/Small</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-04T09:07:07</CreateDate>
    <NodeName Default="Small" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties />
</Media>