<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9fc71c4-eb77-4427-b535-01b44b82c5fd" Alias="statisticAdvisor-big.svg" Level="3">
  <Info>
    <Parent Key="14c84e79-ecca-437a-a5e0-0ec456ed0823">Big</Parent>
    <Path>/Services/Big/statisticAdvisorBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T09:26:14</CreateDate>
    <NodeName Default="statisticAdvisor-big.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g1gf2k1m/statisticadvisor-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>