<?xml version="1.0" encoding="utf-8"?>
<Media Key="73a57139-71da-4f8a-bba6-48c2231ad33d" Alias="statisticAdvisors.svg" Level="3">
  <Info>
    <Parent Key="8552e295-97a7-4ef7-8684-04195f111470">Small</Parent>
    <Path>/Services/Small/statisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T00:42:26</CreateDate>
    <NodeName Default="statisticAdvisors.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zpgapeob/statisticadvisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>