<?xml version="1.0" encoding="utf-8"?>
<Media Key="cee68884-a388-481a-8385-39fb556a1531" Alias="Success Section" Level="2">
  <Info>
    <Parent Key="5e6ebe18-0ad1-4d18-9643-b9736e41b462">Home</Parent>
    <Path>/Home/SuccessSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-01T12:10:38</CreateDate>
    <NodeName Default="Success Section" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>