<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e9ae30a-b0a5-41fc-a7c8-49a5a2978960" Alias="success-image.svg" Level="3">
  <Info>
    <Parent Key="cee68884-a388-481a-8385-39fb556a1531">Success Section</Parent>
    <Path>/Home/SuccessSection/successImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T12:11:52</CreateDate>
    <NodeName Default="success-image.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5bpdrlf4/success-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>