<?xml version="1.0" encoding="utf-8"?>
<Media Key="12e50bea-6582-4283-83d2-b6ebdca6a5a2" Alias="taxAndTrusts.svg" Level="3">
  <Info>
    <Parent Key="8552e295-97a7-4ef7-8684-04195f111470">Small</Parent>
    <Path>/Services/Small/taxAndTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T00:42:34</CreateDate>
    <NodeName Default="taxAndTrusts.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dc1ep2ez/taxandtrusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>