<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb35f15c-bd4f-459e-bf3d-1f54bbcd3e89" Alias="taxAndTrusts-big.svg" Level="3">
  <Info>
    <Parent Key="14c84e79-ecca-437a-a5e0-0ec456ed0823">Big</Parent>
    <Path>/Services/Big/taxAndTrustsBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T09:26:16</CreateDate>
    <NodeName Default="taxAndTrusts-big.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vzgjocku/taxandtrusts-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>