<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7cab80a-0f60-4035-ac81-dd3c510b8ed6" Alias="Team Member Section" Level="2">
  <Info>
    <Parent Key="b954efae-f43e-427b-8775-4ab188bbd840">About Us</Parent>
    <Path>/AboutUs/TeamMemberSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-02T14:27:51</CreateDate>
    <NodeName Default="Team Member Section" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>