<?xml version="1.0" encoding="utf-8"?>
<Media Key="abd904e8-c1ba-44e4-8f20-0bde991d865e" Alias="Tina-image-small.svg" Level="3">
  <Info>
    <Parent Key="b7cab80a-0f60-4035-ac81-dd3c510b8ed6">Team Member Section</Parent>
    <Path>/AboutUs/TeamMemberSection/TinaImageSmallsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-02T14:28:03</CreateDate>
    <NodeName Default="Tina-image-small.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dk2hwsnb/tina-image-small.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>