<?xml version="1.0" encoding="utf-8"?>
<Media Key="d71fc261-a141-494e-b4db-68f4f77ae6a9" Alias="trusted-team.svg" Level="3">
  <Info>
    <Parent Key="3f1f6f9a-77e9-420f-a107-5d3de082be13">Trusted section</Parent>
    <Path>/Home/TrustedSection/trustedTeamsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T15:07:13</CreateDate>
    <NodeName Default="trusted-team.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sn5l0nk0/trusted-team.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>