<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f1f6f9a-77e9-420f-a107-5d3de082be13" Alias="Trusted section" Level="2">
  <Info>
    <Parent Key="5e6ebe18-0ad1-4d18-9643-b9736e41b462">Home</Parent>
    <Path>/Home/TrustedSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-30T15:05:09</CreateDate>
    <NodeName Default="Trusted section" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>