<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd3dd273-c5ae-48ce-87ef-340c47c5f6b2" Alias="Background Color" Level="1">
  <Info>
    <Name>Background Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "171717",
      "label": "Dark"
    },
    {
      "value": "4F5955",
      "label": "Primary"
    },
    {
      "value": "D9C3A9",
      "label": "Secondary"
    },
    {
      "value": "F2EDDC",
      "label": "Accent"
    },
    {
      "value": "F7F7F7",
      "label": "Gray"
    },
    {
      "value": "FFFFFF",
      "label": "Light"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>