<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9b13734-e1df-4f06-9525-495e24c23bd4" Alias="Border Position - Dropdown" Level="1">
  <Info>
    <Name>Border Position - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "none",
    "Top",
    "Bottom",
    "Left",
    "Right"
  ],
  "multiple": true
}]]></Config>
</DataType>