<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b46eaee4-27cd-4408-98a4-2f07d24a9ed6" Alias="Border-tjock - Dropdown" Level="1">
  <Info>
    <Name>Border-tjock - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Thin",
    "Medium",
    "Thick"
  ]
}]]></Config>
</DataType>