<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c4c01a8e-d732-4b6d-af7d-428a877ddf00" Alias="Border Margin Dropdown" Level="1">
  <Info>
    <Name>Border Margin Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "none",
    "small (10px)",
    "medium (20px)",
    "Large (30px)",
    "XL (40px)",
    "XXL (50px)"
  ]
}]]></Config>
</DataType>