<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72da8cdf-bceb-48f9-9a85-eaa72fe7b95b" Alias="Bullet List" Level="1">
  <Info>
    <Name>Bullet List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4c1449fd-21d7-4923-8817-7a059c659505",
      "label": "bullet point"
    }
  ]
}]]></Config>
</DataType>