<?xml version="1.0" encoding="utf-8"?>
<DataType Key="57dc722c-cf3b-4690-b5f8-cd577eadc230" Alias="Call Back Form" Level="1">
  <Info>
    <Name>Call Back Form</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e93a2947-0ef9-46a1-9b4d-e1528df2f405",
      "allowAtRoot": false,
      "label": "form container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "933d782f-e82e-4355-b622-273cec0622bd",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>