<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a7da3c5-dd80-4cfd-bdf8-b91d4d2da6f6" Alias="Cropper Image - Img Cropper" Level="1">
  <Info>
    <Name>Cropper Image - Img Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ImageCropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Thumbnail",
      "alias": "thumbnail",
      "width": 370,
      "height": 200
    },
    {
      "label": "Small",
      "alias": "small",
      "width": 130,
      "height": 82
    },
    {
      "label": "Medium",
      "alias": "medium",
      "width": 480,
      "height": 480
    },
    {
      "label": "Large",
      "alias": "large",
      "width": 770,
      "height": 445
    }
  ]
}]]></Config>
</DataType>