<?xml version="1.0" encoding="utf-8"?>
<DataType Key="04427f18-19ad-4f57-8d43-c859051af00f" Alias="decimal" Level="1">
  <Info>
    <Name>decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Decimal</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "step": 0.0001
}]]></Config>
</DataType>