<?xml version="1.0" encoding="utf-8"?>
<DataType Key="104ef627-9e6f-4cd9-8a1b-7e149309b05b" Alias="DropDown Text Align" Level="1">
  <Info>
    <Name>DropDown Text Align</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Left",
    "Right",
    "Center",
    "Justify",
    "none"
  ]
}]]></Config>
</DataType>