<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2de7ff07-0516-4418-b301-5c4e99372655" Alias="Dropdown FontSize H1" Level="1">
  <Info>
    <Name>Dropdown FontSize H1</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "XS (32px)",
    "S (40px)",
    "M (48px)",
    "L (58px)",
    "XL (70px)",
    "XXL (80px)",
    "none"
  ],
  "multiple": false
}]]></Config>
</DataType>