<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0cbcf10-b4fa-4082-900d-dc65064ae756" Alias="Dropdown FontSize H6" Level="1">
  <Info>
    <Name>Dropdown FontSize H6</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "XS (2px)",
    "S (14px)",
    "M (16px)",
    "L (18px)",
    "XL (20px)",
    "XXL (24px)",
    "none"
  ],
  "multiple": false
}]]></Config>
</DataType>