<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c656f763-25af-4253-908f-84e9b1a37e72" Alias="Dropdown FontSize H4" Level="1">
  <Info>
    <Name>Dropdown FontSize H4</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "XS (16px)",
    "S (18px)",
    "M (22px)",
    "L (26px)",
    "XL (30px)",
    "XXL (34px)",
    "none"
  ],
  "multiple": false
}]]></Config>
</DataType>