<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53b33bf4-1d2e-4570-aa6f-c739f1d15e2f" Alias="Dropdown FontSize H5" Level="1">
  <Info>
    <Name>Dropdown FontSize H5</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "XS (14px)",
    "S (16px)",
    "M (18px)",
    "L (22px)",
    "XL (26px)",
    "XXL (30px)",
    "none"
  ],
  "multiple": false
}]]></Config>
</DataType>