<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3d93dd63-f10e-49d6-b11a-9e31f21c014a" Alias="Dropdown FontSize H3" Level="1">
  <Info>
    <Name>Dropdown FontSize H3</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "XS (18px)",
    "S (20px)",
    "M (24px)",
    "L (30px)",
    "XL (36px)",
    "XXL (40px)",
    "none"
  ],
  "multiple": false
}]]></Config>
</DataType>