<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32e62d3e-d265-4720-ac1f-78fc95fc0cd8" Alias="Dropdown FontSize H2" Level="1">
  <Info>
    <Name>Dropdown FontSize H2</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "XS (22px)",
    "S (26px)",
    "M (32px)",
    "L (40px)",
    "XL (48px)",
    "XXL (58px)",
    "XXXL (100px)",
    "none"
  ],
  "multiple": false
}]]></Config>
</DataType>