<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1775ecd-7cc4-48a3-a499-b7e274a6e151" Alias="E-mail Address icon" Level="1">
  <Info>
    <Name>E-mail Address icon</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "fa-regular fa-envelope",
    "fa-light fa-envelope",
    "fa-thin fa-envelope",
    "fa-solid fa-envelope",
    "fa-sharp-duotone fa-solid fa-envelope"
  ]
}]]></Config>
</DataType>