<?xml version="1.0" encoding="utf-8"?>
<DataType Key="019b0a96-aa2f-41ea-a7bf-ae888073cbc4" Alias="Font Weight - Dropdown" Level="1">
  <Info>
    <Name>Font Weight - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "300 Light",
    "400 Normal",
    "500 Medium",
    "600 Semi Bold",
    "700 Bold",
    "800 Extra Bold",
    "Default"
  ],
  "multiple": false
}]]></Config>
</DataType>