<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7c7702c-3caf-4c09-a20d-dcb2a721fae3" Alias="Font Style - Dropdown" Level="1">
  <Info>
    <Name>Font Style - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Normal",
    "Italic"
  ]
}]]></Config>
</DataType>