<?xml version="1.0" encoding="utf-8"?>
<DataType Key="28702cf9-097d-4ba0-862c-7ad2db831003" Alias="Gradient Percentage - Slider" Level="1">
  <Info>
    <Name>Gradient Percentage - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 10,
  "initVal2": 0,
  "maxVal": 90,
  "minVal": 10,
  "step": 10
}]]></Config>
</DataType>