<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cded779d-36eb-4f27-8a45-da657d58c259" Alias="Justify Content - Dropdown" Level="1">
  <Info>
    <Name>Justify Content - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "start",
    "center",
    "end",
    "between",
    "around",
    "evenly"
  ]
}]]></Config>
</DataType>