<?xml version="1.0" encoding="utf-8"?>
<DataType Key="601ae7d9-0bcf-4108-811b-fa6414322cc3" Alias="Logos Image Slider - Slides" Level="1">
  <Info>
    <Name>Logos Image Slider - Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bdbb535b-0c47-4033-a864-80c4ce5daafa",
      "label": "**slide item** - {=imageDescription}"
    }
  ]
}]]></Config>
</DataType>