<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8dc662e-aa31-42ed-95b2-2a9aa684a460" Alias="Maps - Latitude  - Decimal Property Editor UI" Level="1">
  <Info>
    <Name>Maps - Latitude  - Decimal Property Editor UI</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Decimal</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "step": 0.01
}]]></Config>
</DataType>