<?xml version="1.0" encoding="utf-8"?>
<DataType Key="203c33f3-3abd-404c-a14a-600dad46ab20" Alias="Margin Dropdown" Level="1">
  <Info>
    <Name>Margin Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "none",
    "XS (5px)",
    "S (10px)",
    "M (15px)",
    "L (20px)",
    "XL (40px)",
    "XXL (60px)"
  ]
}]]></Config>
</DataType>