<?xml version="1.0" encoding="utf-8"?>
<DataType Key="098b783f-0112-47bd-bf1b-3df15468bc81" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "906f9186-3488-420f-b0e6-618bcb3e1de9",
      "name": "Containers"
    },
    {
      "key": "7d172752-3a83-4ec0-9c2f-dd70908303c2",
      "name": "Components"
    },
    {
      "key": "c2c4f4c1-7d45-480a-96e8-f9818c877493",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "5be8c2e9-7a4e-43e9-80e1-86b00863035a",
      "allowAtRoot": false,
      "groupKey": "7d172752-3a83-4ec0-9c2f-dd70908303c2",
      "areas": [
        {
          "key": "71a37eff-ab0e-49f5-9e1c-af8089087eb9",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "94ef9aa9-5ed5-4e95-a544-57fa467348f9",
      "allowAtRoot": false,
      "groupKey": "7d172752-3a83-4ec0-9c2f-dd70908303c2",
      "allowInAreas": true,
      "label": "team image slider"
    },
    {
      "contentElementTypeKey": "10f7b8ae-651a-4150-899a-1516349cf050",
      "allowAtRoot": false,
      "groupKey": "7d172752-3a83-4ec0-9c2f-dd70908303c2",
      "allowInAreas": true,
      "label": "bullet point"
    },
    {
      "contentElementTypeKey": "a83e59cd-8860-4f9a-977e-fa2fba4e7a67",
      "allowAtRoot": true,
      "groupKey": "7d172752-3a83-4ec0-9c2f-dd70908303c2"
    },
    {
      "contentElementTypeKey": "8ff20939-9d58-4abf-a623-7c41cfb46d60",
      "allowAtRoot": true,
      "groupKey": "906f9186-3488-420f-b0e6-618bcb3e1de9",
      "label": "section",
      "areas": [
        {
          "key": "d6d31719-84ec-4ef7-925e-24149c8efb26",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "7a3f08b4-2d5c-443c-bada-8ec4eb9b40d8",
      "allowAtRoot": true,
      "groupKey": "906f9186-3488-420f-b0e6-618bcb3e1de9",
      "areas": [
        {
          "key": "a7f4080d-3c3b-4ff1-9924-2e8709ce9fbb",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "4c73a567-18ee-4a3e-9dba-63b3633c3a78",
      "allowAtRoot": false,
      "groupKey": "906f9186-3488-420f-b0e6-618bcb3e1de9",
      "label": "container",
      "areas": [
        {
          "key": "eeadcd3c-71a0-43e7-89ab-e844175e87e9",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "1cc966ed-e338-401b-aae0-29c2de44131b",
      "allowAtRoot": false,
      "groupKey": "906f9186-3488-420f-b0e6-618bcb3e1de9",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "dd4a7833-941a-44ce-9108-df0809be25cc",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "f59486c2-190f-40a4-8fc0-5c8b7e4fd387",
      "allowAtRoot": false,
      "groupKey": "906f9186-3488-420f-b0e6-618bcb3e1de9",
      "label": "dynamic container (full width)",
      "allowInAreas": true,
      "areas": [
        {
          "key": "eeb282fc-b22d-4209-a2a9-33f018ce0253",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "ac815395-f4fb-4c32-acca-b160d408de0c",
      "allowAtRoot": false,
      "groupKey": "906f9186-3488-420f-b0e6-618bcb3e1de9",
      "allowInAreas": true,
      "label": "content wrapper",
      "areas": [
        {
          "key": "81ca4c6a-ed70-474f-a1de-58ccd18c655b",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "23dfb2a0-9fe1-4c94-88e8-716389b968e8",
      "allowAtRoot": true,
      "groupKey": "906f9186-3488-420f-b0e6-618bcb3e1de9",
      "areas": [
        {
          "key": "621ae8d0-c4ec-424c-accb-61363f1342c7",
          "alias": "leftContent",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "22fb3686-c6e7-4a1d-afbd-c82216100db4",
          "alias": "rightContent",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "cc065eb4-bf32-477d-87d7-5fdcf48c381b",
      "allowAtRoot": false,
      "groupKey": "906f9186-3488-420f-b0e6-618bcb3e1de9",
      "areas": [
        {
          "key": "526f0b4e-1434-4ec4-a845-e1adbd2f01e7",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "7d38f99a-772e-4d62-a523-58aead3551d1",
      "allowAtRoot": true,
      "groupKey": "906f9186-3488-420f-b0e6-618bcb3e1de9",
      "allowInAreas": false,
      "label": "project contact section"
    },
    {
      "contentElementTypeKey": "e93a2947-0ef9-46a1-9b4d-e1528df2f405",
      "allowAtRoot": false,
      "groupKey": "906f9186-3488-420f-b0e6-618bcb3e1de9",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2928f9c1-9153-4b52-bd9d-e74408e6ab40",
      "allowAtRoot": true,
      "groupKey": "906f9186-3488-420f-b0e6-618bcb3e1de9",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6feb6117-5924-4bf5-9969-5c1c2ce9d8d4",
      "allowAtRoot": true,
      "groupKey": "906f9186-3488-420f-b0e6-618bcb3e1de9",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b0a67a8a-c9a6-417b-98db-86340826cd89",
      "allowAtRoot": false,
      "groupKey": "7d172752-3a83-4ec0-9c2f-dd70908303c2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "375fea19-e481-4ef2-8bb2-fbfb9297a482",
      "allowAtRoot": true,
      "groupKey": "7d172752-3a83-4ec0-9c2f-dd70908303c2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "97ea6723-ab5f-4f88-9280-b048d811f857",
      "allowAtRoot": true,
      "groupKey": "7d172752-3a83-4ec0-9c2f-dd70908303c2"
    },
    {
      "contentElementTypeKey": "f06e74a6-b7c5-4faf-8596-e967f6b73392",
      "allowAtRoot": false,
      "groupKey": "c2c4f4c1-7d45-480a-96e8-f9818c877493",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e10990c6-3ec6-4584-8b2a-b7c2e38d1863",
      "allowAtRoot": false,
      "groupKey": "c2c4f4c1-7d45-480a-96e8-f9818c877493",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c3dd4911-0a07-4bad-8324-6a4180d2f9d8",
      "allowAtRoot": false,
      "groupKey": "c2c4f4c1-7d45-480a-96e8-f9818c877493",
      "label": "heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "7a235d9f-82df-40f8-a2e3-fb56a5beca14",
      "allowAtRoot": false,
      "groupKey": "c2c4f4c1-7d45-480a-96e8-f9818c877493",
      "label": "heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d674c5c4-e300-4281-8cbf-6a4cfd11bc18",
      "allowAtRoot": false,
      "groupKey": "c2c4f4c1-7d45-480a-96e8-f9818c877493",
      "label": "heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2a55a4a5-65e9-44e0-bb95-d259243cedb1",
      "allowAtRoot": false,
      "groupKey": "c2c4f4c1-7d45-480a-96e8-f9818c877493",
      "label": "heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "89a51df5-fc94-40ff-95e6-f406195a0376",
      "allowAtRoot": false,
      "groupKey": "c2c4f4c1-7d45-480a-96e8-f9818c877493",
      "label": "paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "86962193-4fba-436f-a7c6-9a5c638d6896",
      "allowAtRoot": false,
      "groupKey": "c2c4f4c1-7d45-480a-96e8-f9818c877493",
      "label": "rich text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c2b14a2b-5499-47a4-8271-92a9dc393c4c",
      "allowAtRoot": false,
      "groupKey": "c2c4f4c1-7d45-480a-96e8-f9818c877493",
      "label": "button link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f4711d26-23cb-469f-8dbd-aafce64bf200",
      "allowAtRoot": false,
      "groupKey": "c2c4f4c1-7d45-480a-96e8-f9818c877493",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ee58ab6b-2073-497a-86b1-2326f6d75bc4",
      "allowAtRoot": false,
      "groupKey": "c2c4f4c1-7d45-480a-96e8-f9818c877493",
      "allowInAreas": true,
      "areas": [],
      "label": "image"
    },
    {
      "contentElementTypeKey": "faa00fdf-70b7-48b9-8263-cc106cf9c348",
      "allowAtRoot": true,
      "groupKey": "906f9186-3488-420f-b0e6-618bcb3e1de9",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>