<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6aa67dde-4753-4529-8f1a-99609d1bf609" Alias="Office Location Icon Dropdown" Level="1">
  <Info>
    <Name>Office Location Icon Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "fa-light fa-location-dot",
    "fa-thin fa-location-dot",
    "fa-regular fa-location-dot",
    "fa-sharp-duotone fa-solid fa-location-dot",
    "fa-solid fa-location-dot"
  ]
}]]></Config>
</DataType>