<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eed2f196-3c81-4765-b84a-ff3e7a432aab" Alias="Padding Dropdown" Level="1">
  <Info>
    <Name>Padding Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "none",
    "XS (10px)",
    "S (20px)",
    "M (40px)",
    "L (60px)",
    "XL (80px)",
    "XXL (100px)"
  ]
}]]></Config>
</DataType>