<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f618ccc1-797f-4db2-9a30-454f0d032ecf" Alias="Phone Icon Dropdown" Level="1">
  <Info>
    <Name>Phone Icon Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "fa-regular fa-phone-flip",
    "fa-light fa-phone-flip",
    "fa-thin fa-phone-flip",
    "fa-sharp fa-light fa-phone-plus",
    "fa-sharp-duotone fa-solid fa-phone-flip"
  ]
}]]></Config>
</DataType>