<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a71fb1a3-71c7-4115-9dc0-c367d49b8244" Alias="Questions - Email - Email Property Editor UI" Level="1">
  <Info>
    <Name>Questions - Email - Email Property Editor UI</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>