<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da28e0fd-a357-4253-8b9c-0dad8a1e2bc5" Alias="Recent Projects - Block List" Level="1">
  <Info>
    <Name>Recent Projects - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ee58ab6b-2073-497a-86b1-2326f6d75bc4"
    },
    {
      "contentElementTypeKey": "2a55a4a5-65e9-44e0-bb95-d259243cedb1"
    },
    {
      "contentElementTypeKey": "89a51df5-fc94-40ff-95e6-f406195a0376"
    }
  ]
}]]></Config>
</DataType>