<?xml version="1.0" encoding="utf-8"?>
<DataType Key="943b6760-e23c-4a91-b3a1-f63687cb30d2" Alias="Settings Page - Social Media Platforms" Level="1">
  <Info>
    <Name>Settings Page - Social Media Platforms</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8ba981b7-3235-4f8f-942d-15c8220f687b",
      "label": "**{=platformName}** - {=platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>