<?xml version="1.0" encoding="utf-8"?>
<DataType Key="26978109-5e02-41d6-ac5e-c7855d35182c" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "LinkedIn",
    "TikTok",
    "X (formerly Twitter)",
    "Youtube"
  ]
}]]></Config>
</DataType>