<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ad6394d-c4ea-4ded-8953-5049d348399f" Alias="Tag List" Level="1">
  <Info>
    <Name>Tag List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7ba80e97-7b3a-4c9b-b39b-3effe2e61f6b",
      "label": "Tag Text"
    }
  ]
}]]></Config>
</DataType>