<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0cfb253e-7c83-4867-acae-846184280108" Alias="Team Image Slider - Slides Big" Level="1">
  <Info>
    <Name>Team Image Slider - Slides Big</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3444a0a4-1635-4987-ab28-59abff8eea66",
      "label": "team slide item"
    }
  ]
}]]></Config>
</DataType>