<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21f2e056-3bcd-4158-af08-f2e6a771b429" Alias="Team Image Slider - Slides Small" Level="1">
  <Info>
    <Name>Team Image Slider - Slides Small</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3444a0a4-1635-4987-ab28-59abff8eea66"
    }
  ]
}]]></Config>
</DataType>