<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e7fc1aa-cf27-4a63-8957-2f1a1d4094e8" Alias="Text - Text Color" Level="1">
  <Info>
    <Name>Text - Text Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "171717",
      "label": "Dark"
    },
    {
      "value": "4F5955",
      "label": "Primary"
    },
    {
      "value": "D9C3A9",
      "label": "Secondary"
    },
    {
      "value": "F2EDDC",
      "label": "Accent"
    },
    {
      "value": "F7F7F7",
      "label": "Gray"
    },
    {
      "value": "FFFFFF",
      "label": "Light"
    },
    {
      "value": "ECECEC",
      "label": "Default"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>