<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f135dad-98b1-474e-a2a2-cdd8a4cab4ec" Alias="Width - Dropdown" Level="1">
  <Info>
    <Name>Width - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "20%",
    "40%",
    "50%",
    "60%",
    "70%",
    "80%",
    "90%",
    "100%",
    "none"
  ]
}]]></Config>
</DataType>