<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c2b14a2b-5499-47a4-8271-92a9dc393c4c" Alias="buttonLink" Level="4">
  <Info>
    <Name>Button Link</Name>
    <Icon>icon-rectangle-ellipsis</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>&lt;a class="btn"&gt;</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Html+Elements/Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>60df54f0-721e-4032-b7bf-2c847b8ec383</Key>
      <Name>Button Link Color</Name>
      <Alias>buttonLinkColor</Alias>
      <Definition>1eb486a3-fef6-4d1c-a35b-cbe45b228a00</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/buttonLayouts">Button Layouts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c2ee6889-1257-47fa-b77a-09fffaa80401</Key>
      <Name>Button Link Text</Name>
      <Alias>buttonLinkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>894972f7-5c92-4ede-bda6-defd979bca08</Key>
      <Name>Button Link Url</Name>
      <Alias>buttonLinkUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>878d3367-420b-4510-a88c-e9b76cd1f13d</Key>
      <Name>Large Screen Margin Bottom</Name>
      <Alias>largeScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>171c84cc-ecc8-42d7-a376-839177bd5789</Key>
      <Name>Large Screen Margin Left</Name>
      <Alias>largeScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>72a26985-8213-450f-bfea-b2cbb57e4335</Key>
      <Name>Large Screen Margin Right</Name>
      <Alias>largeScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9926ecfc-febd-4979-86fa-fd91a5abf214</Key>
      <Name>Large Screen Margin Top</Name>
      <Alias>largeScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7c2d9626-545c-4b0c-9ae5-cb79413d7d01</Key>
      <Name>Large Screen Padding Bottom</Name>
      <Alias>largeScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bb683cc3-6815-43e9-96df-cd842a50404a</Key>
      <Name>Large Screen Padding Left</Name>
      <Alias>largeScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f8e8095b-f2c6-41f8-94cd-ff0b6e9d5691</Key>
      <Name>Large Screen Padding Right</Name>
      <Alias>largeScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>251ee32b-23cc-4b6e-b691-edeb557047ec</Key>
      <Name>Large Screen Padding Top</Name>
      <Alias>largeScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b4af7762-354a-4754-860d-509e276a4e67</Key>
      <Name>Medium Screen Margin Bottom</Name>
      <Alias>mediumScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4c6579c8-6d7d-4184-bc2a-c641c67d79d5</Key>
      <Name>Medium Screen Margin Left</Name>
      <Alias>mediumScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>beb7ab01-a185-4b04-9fea-818d14ed7603</Key>
      <Name>Medium Screen Margin Right</Name>
      <Alias>mediumScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3a9b70a2-9391-4469-a27d-34e6f183fa03</Key>
      <Name>Medium Screen Margin Top</Name>
      <Alias>mediumScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b4b81524-a10b-4073-ad57-5424436029d4</Key>
      <Name>Medium Screen Padding Bottom</Name>
      <Alias>mediumScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0052291-f2bb-497d-bab5-8a7de5877cce</Key>
      <Name>Medium Screen Padding Left</Name>
      <Alias>mediumScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2feaed2-190d-4ef6-9c06-6ab386a99c3b</Key>
      <Name>Medium Screen Padding Right</Name>
      <Alias>mediumScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>075c79b1-1b5b-4e20-a1bc-fd8005828f6f</Key>
      <Name>Medium Screen Padding Top</Name>
      <Alias>mediumScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4d4629aa-f931-4553-beb9-b2335a576a51</Key>
      <Name>Mobile Screen Margin Bottom</Name>
      <Alias>mobileScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f031c0a3-c8e1-4668-be6a-7d7828d14c21</Key>
      <Name>Mobile Screen Margin Left</Name>
      <Alias>mobileScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a4476cb2-a27c-49ed-90fc-60c30f9f1172</Key>
      <Name>Mobile Screen Margin Right</Name>
      <Alias>mobileScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>759d6cb0-289d-45df-898f-362bad2306b2</Key>
      <Name>Mobile Screen Margin Top</Name>
      <Alias>mobileScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>79f93f4c-8d79-4dd6-9a54-32c4a0ca3e23</Key>
      <Name>Mobile Screen Padding Bottom</Name>
      <Alias>mobileScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1ec9b6ad-9bb3-4c06-8a38-642fbfa687f6</Key>
      <Name>Mobile Screen Padding Left</Name>
      <Alias>mobileScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8bc4d88c-c5ca-4fd6-8bf6-38f71b38e307</Key>
      <Name>Mobile Screen Padding Right</Name>
      <Alias>mobileScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc6c96a9-17fc-4164-956d-f636ae3d242d</Key>
      <Name>Mobile Screen Padding Top</Name>
      <Alias>mobileScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6e6aa3b3-db7e-4280-a8d5-fe3717274617</Key>
      <Name>Small Screen Margin Bottom</Name>
      <Alias>smallScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2382c7f4-becf-44df-9523-2f9fa5067309</Key>
      <Name>Small Screen Margin Left</Name>
      <Alias>smallScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1ad0cbd2-faa9-47f0-add6-691b60287cd7</Key>
      <Name>Small Screen Margin Right</Name>
      <Alias>smallScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f2ec4800-cd84-4be7-b8a3-55a97592dc8c</Key>
      <Name>Small Screen Margin Top</Name>
      <Alias>smallScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fe191990-db82-4941-9601-62e627d43d1c</Key>
      <Name>Small Screen Padding Bottom</Name>
      <Alias>smallScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6b461129-9fc4-4b34-904b-cc9cc258e836</Key>
      <Name>Small Screen Padding Left</Name>
      <Alias>smallScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>52138539-40e4-4207-9bba-aac5e62905ea</Key>
      <Name>Small Screen Padding Right</Name>
      <Alias>smallScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d4adf7da-f750-472e-ae3b-536a8dd298ae</Key>
      <Name>Small Screen Padding Top</Name>
      <Alias>smallScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>85842662-4853-4528-8143-dcf758b45b20</Key>
      <Name>Use Custom Margins</Name>
      <Alias>useCustomMargins</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f6ac22b9-7401-4b86-b56b-101c3d0abef4</Key>
      <Name>Use Custom Padding</Name>
      <Alias>useCustomPadding</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5577aeee-9e73-4dcb-b71e-5ffe58aeb87c</Key>
      <Name>XL Screen Margin Bottom</Name>
      <Alias>xlScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/xlScreenMargin">Xl Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>75e97eaf-8e1e-434f-852b-4c844c8cafc3</Key>
      <Name>XL Screen Margin Left</Name>
      <Alias>xlScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/xlScreenMargin">Xl Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bf83aaa7-2b0e-4a73-a7c0-953205c4535b</Key>
      <Name>XL Screen Margin Right</Name>
      <Alias>xlScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/xlScreenMargin">Xl Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>26feaa25-225d-403d-99d8-6a48abddf300</Key>
      <Name>XL Screen Margin Top</Name>
      <Alias>xlScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/xlScreenMargin">Xl Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aeac0d8c-a3a0-4d27-ba40-948a6b02a2ad</Key>
      <Name>XL Screen Padding Bottom</Name>
      <Alias>xlScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>57afb2b8-30f8-402a-a01c-d999ce37448e</Key>
      <Name>XL Screen Padding Left</Name>
      <Alias>xlScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c3e387f5-6941-4187-9f06-07570ae327a5</Key>
      <Name>XL Screen Padding Right</Name>
      <Alias>xlScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9267bad6-751c-4ca2-bfc7-6881f7d9bda0</Key>
      <Name>XL Screen Padding Top</Name>
      <Alias>xlScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9d4898b7-8b67-4ec8-8e40-15c5117840eb</Key>
      <Name>XXL Screen Margin Bottom</Name>
      <Alias>xxlScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>36071e0d-d886-4202-a482-240d0dd5cc92</Key>
      <Name>XXL Screen Margin Left</Name>
      <Alias>xxlScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5e7c2b91-0b1f-4855-ac3b-c94333376576</Key>
      <Name>XXL Screen Margin Right</Name>
      <Alias>xxlScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>66d51ca0-6de5-471e-b422-2907a204d089</Key>
      <Name>XXL Screen Margin Top</Name>
      <Alias>xxlScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bc8c8e92-9282-4d1d-874f-dbdae0a6be74</Key>
      <Name>XXL Screen Padding Bottom</Name>
      <Alias>xxlScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c009b783-8b4f-4fe9-9b82-ba7831633787</Key>
      <Name>XXL Screen Padding Left</Name>
      <Alias>xxlScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1a7c02d-c0be-44cc-a4ec-e9d11d639696</Key>
      <Name>XXL Screen Padding Right</Name>
      <Alias>xxlScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8a9b545b-ed47-45fb-b384-39ded40fb869</Key>
      <Name>XXL Screen Padding Top</Name>
      <Alias>xxlScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>16fa5eed-4f64-4209-aca7-37ebaf450b10</Key>
      <Caption>Medium Screen Padding</Caption>
      <Alias>padding/mediumScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>30e4daaa-8680-4fd1-979f-087a31b2e78c</Key>
      <Caption>Mobile Screen Margin</Caption>
      <Alias>margin/mobileScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>53791fab-1898-4652-9b68-1698d56e1ab9</Key>
      <Caption>XXL Screen Padding</Caption>
      <Alias>padding/xXLScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>6011256f-2645-45a7-a3d2-24b0d4ac496d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>628dd8ef-b688-48e4-97f6-9b7311b1166e</Key>
      <Caption>Small Screen Margin</Caption>
      <Alias>margin/smallScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>7390ffb7-c6ae-4164-a154-8954a5ba9d9f</Key>
      <Caption>Margin</Caption>
      <Alias>margin</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>75dca6e1-a1e2-4a77-8d11-968639b4a640</Key>
      <Caption>Large Screen Padding</Caption>
      <Alias>padding/largeScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>8b2b2009-9291-43eb-83a2-c412bda5f85b</Key>
      <Caption>Large Screen Margin</Caption>
      <Alias>margin/largeScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>8d490408-c004-4469-855e-5386238abba2</Key>
      <Caption>Padding</Caption>
      <Alias>padding</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>94ae23a1-531b-44db-80f2-17869fb6cdda</Key>
      <Caption>XL Screen Padding</Caption>
      <Alias>padding/xLScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>9b3cbaa8-49d9-4bf1-91c9-8fe3047701f0</Key>
      <Caption>Small Screen Padding</Caption>
      <Alias>padding/smallScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>ad0638fe-fe91-4200-8a6c-ac6d42e83f90</Key>
      <Caption>Mobile Screen Padding</Caption>
      <Alias>padding/mobileScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b6caf319-0e07-4f6a-bc30-914bb2a78c07</Key>
      <Caption>Xl Screen Margin</Caption>
      <Alias>margin/xlScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>ba7c8966-7827-42f5-9583-372565cb80f6</Key>
      <Caption>Button Layouts</Caption>
      <Alias>content/buttonLayouts</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d85d27c9-d40a-4840-ba93-b660d542a9ef</Key>
      <Caption>Medium Screen Margin</Caption>
      <Alias>margin/mediumScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>dab64a63-c608-4e9c-86f2-2a535648b4c1</Key>
      <Caption>XXL Screen Margin</Caption>
      <Alias>margin/xXLScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>