<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="12aa3946-941d-4035-8ebd-b5f34bdd3377" Alias="callback" Level="3">
  <Info>
    <Name>Callback</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Form+Callback</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7275c0f7-4abe-4d48-91f5-cca84fe32280" SortOrder="0">callbackItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>