<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4c73a567-18ee-4a3e-9dba-63b3633c3a78" Alias="container" Level="4">
  <Info>
    <Name>Container</Name>
    <Icon>icon-checkbox-dotted</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>&lt;div class="container"&gt;</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Html+Elements/Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f83f14c4-1402-48b1-af30-e4e2d8718907</Key>
      <Name>Large Screen</Name>
      <Alias>largeScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ec1f547c-b015-4511-a3c5-9028f98e3c9b</Key>
      <Name>Large Screen Margin Bottom</Name>
      <Alias>largeScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f14673dc-59aa-4f08-bd57-8576dcc9cd72</Key>
      <Name>Large Screen Margin Left</Name>
      <Alias>largeScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4eda5099-49a3-4037-b017-e2547d857260</Key>
      <Name>Large Screen Margin Right</Name>
      <Alias>largeScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9521992d-2c6e-4e9c-a6e3-15c5e90cbfe4</Key>
      <Name>Large Screen Margin Top</Name>
      <Alias>largeScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0e408962-d480-479f-b1e2-99b9aa12f978</Key>
      <Name>Large Screen Padding Bottom</Name>
      <Alias>largeScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>73d37227-bf23-4de4-abc2-57108028a78f</Key>
      <Name>Large Screen Padding Left</Name>
      <Alias>largeScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>09e8138a-691a-424b-9482-04f007574fcc</Key>
      <Name>Large Screen Padding Right</Name>
      <Alias>largeScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>75289964-4858-4283-9493-8118950e589c</Key>
      <Name>Large Screen Padding Top</Name>
      <Alias>largeScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5a3b3c1d-abf8-460a-850a-1451b05c9c86</Key>
      <Name>Large Screen Text Align</Name>
      <Alias>largeScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="text-Align">Text-Align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b52465e5-dc11-48b4-86c2-a74577d67540</Key>
      <Name>Medium Screen</Name>
      <Alias>mediumScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5f7de338-23c0-4998-be10-330556269834</Key>
      <Name>Medium Screen Margin Bottom</Name>
      <Alias>mediumScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4c49a312-f880-4e37-a322-fc5047431935</Key>
      <Name>Medium Screen Margin Left</Name>
      <Alias>mediumScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>66578441-1033-4b2e-b990-eff5f2cec9ff</Key>
      <Name>Medium Screen Margin Right</Name>
      <Alias>mediumScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>26dcfdf6-1732-4c07-8079-5ffbf839c2dc</Key>
      <Name>Medium Screen Margin Top</Name>
      <Alias>mediumScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>151d9576-af83-470d-b024-ef8a7a758f72</Key>
      <Name>Medium Screen Padding Bottom</Name>
      <Alias>mediumScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6085ddd7-3893-425c-aa2b-490ba34c14a6</Key>
      <Name>Medium Screen Padding Left</Name>
      <Alias>mediumScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4469bbbf-ed6c-4a82-92aa-cb718bbe67bd</Key>
      <Name>Medium Screen Padding Right</Name>
      <Alias>mediumScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>629fe085-bf45-4b4a-bbfc-67e514c62695</Key>
      <Name>Medium Screen Padding Top</Name>
      <Alias>mediumScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c2f1a5f5-27a4-41f7-9581-b00d7494f2d2</Key>
      <Name>Medium Screen Text Align</Name>
      <Alias>mediumScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="text-Align">Text-Align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ff025f3d-093a-4be8-8d44-60c07e480d13</Key>
      <Name>Mobile Screen</Name>
      <Alias>mobileScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>58d7cd3b-47ad-4a73-80d3-1affc10cb9a4</Key>
      <Name>Mobile Screen Margin Bottom</Name>
      <Alias>mobileScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>20456d6f-3a34-4a35-8b9b-67c4ecd072f9</Key>
      <Name>Mobile Screen Margin Left</Name>
      <Alias>mobileScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>67519668-ad59-4f99-a64e-7cd50c36a64d</Key>
      <Name>Mobile Screen Margin Right</Name>
      <Alias>mobileScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>222db34b-42c9-4dbe-8cd1-cf398d35b3bc</Key>
      <Name>Mobile Screen Margin Top</Name>
      <Alias>mobileScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0d48761f-0569-46af-9834-54495f63586c</Key>
      <Name>Mobile Screen Padding Bottom</Name>
      <Alias>mobileScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>02c6ccae-a0a5-4c35-9e31-78f5c4c87b81</Key>
      <Name>Mobile Screen Padding Left</Name>
      <Alias>mobileScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0f058924-ae7b-4a5c-b788-c3d107059cc9</Key>
      <Name>Mobile Screen Padding Right</Name>
      <Alias>mobileScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>573674ab-80d7-45cb-9937-6607167e6e3f</Key>
      <Name>Mobile Screen Padding Top</Name>
      <Alias>mobileScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ffaef1b-bd04-4026-8626-0498521bfb10</Key>
      <Name>Mobile Screen Text Align</Name>
      <Alias>mobileScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="text-Align">Text-Align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eddf764e-1017-46b4-92f3-d42a384d6e0f</Key>
      <Name>Small Screen</Name>
      <Alias>smallScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0207424f-0955-4351-b4c1-6de263745dc8</Key>
      <Name>Small Screen Margin Bottom</Name>
      <Alias>smallScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>78298124-e4e5-43c4-96dd-f2941b499579</Key>
      <Name>Small Screen Margin Left</Name>
      <Alias>smallScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>02798eaa-6148-474b-94c5-077f533747e0</Key>
      <Name>Small Screen Margin Right</Name>
      <Alias>smallScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>38f04521-f8c7-4c68-87ee-451df4ae7e07</Key>
      <Name>Small Screen Margin Top</Name>
      <Alias>smallScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>96e7d388-cbfe-4180-b9c1-4e5b41f7b8bc</Key>
      <Name>Small Screen Padding Bottom</Name>
      <Alias>smallScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3ec8c0ef-6ada-4503-b988-c5bd3a944559</Key>
      <Name>Small Screen Padding Left</Name>
      <Alias>smallScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cbe6abba-d2ec-4a4f-a57b-7470e9916b68</Key>
      <Name>Small Screen Padding Right</Name>
      <Alias>smallScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>582a707f-15d3-4860-b61a-31b66dc17d31</Key>
      <Name>Small Screen Padding Top</Name>
      <Alias>smallScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2545db2b-a583-4ea7-b070-eccd27f37608</Key>
      <Name>Small Screen Text Align</Name>
      <Alias>smallScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="text-Align">Text-Align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ddbc07a9-8494-43e6-948c-c22661d1ad7e</Key>
      <Name>Use Custom Margins</Name>
      <Alias>useCustomMargins</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b594bb1f-4cdf-41c5-bcc5-df1ec270bbed</Key>
      <Name>Use Custom Padding</Name>
      <Alias>useCustomPadding</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b7e6c224-dd9c-4dba-8170-89091a923d4f</Key>
      <Name>Use Responsive Text Align</Name>
      <Alias>useResponsiveTextAlign</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="text-Align">Text-Align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c5a61644-71af-4cb9-ae8a-5eb6a7f076e8</Key>
      <Name>Use Responsive Width</Name>
      <Alias>useResponsiveWidth</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f0a1d84c-1301-49d1-baf7-1b9f6ac70aba</Key>
      <Name>XL Screen</Name>
      <Alias>xlScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>870aaca8-c452-4408-aa8e-9ee9ff3028b9</Key>
      <Name>XL Screen Margin Bottom</Name>
      <Alias>xlScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/xlScreenMargin">Xl Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9f6d93c1-0624-48f1-96a3-98f91544bb3b</Key>
      <Name>XL Screen Margin Left</Name>
      <Alias>xlScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/xlScreenMargin">Xl Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>611108a9-fed1-4b9c-a4e7-29ae5ed03833</Key>
      <Name>XL Screen Margin Right</Name>
      <Alias>xlScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/xlScreenMargin">Xl Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5f7e1e92-11eb-4638-bea9-188f6a0373a2</Key>
      <Name>XL Screen Margin Top</Name>
      <Alias>xlScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/xlScreenMargin">Xl Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dc136300-507f-483c-b05c-fccc57b569c1</Key>
      <Name>XL Screen Padding Bottom</Name>
      <Alias>xlScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>146af63a-b682-4d2b-9363-4242ce10ffd9</Key>
      <Name>XL Screen Padding Left</Name>
      <Alias>xlScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8259b0e5-d41e-4a7b-9893-7cfb4ed03a2f</Key>
      <Name>XL Screen Padding Right</Name>
      <Alias>xlScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d7540427-0855-4d9a-9e66-09430cffbea3</Key>
      <Name>XL Screen Padding Top</Name>
      <Alias>xlScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d1c937fe-2cb8-4d6e-8711-c01228ea36a0</Key>
      <Name>XL Screen Text Align</Name>
      <Alias>xlScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="text-Align">Text-Align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da5fca87-b4ec-4eb6-9bd1-234701fc8570</Key>
      <Name>XXL Screen</Name>
      <Alias>xxlScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f6683b74-4353-4898-8032-746f0c197395</Key>
      <Name>XXL Screen Margin Bottom</Name>
      <Alias>xxlScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d3af5498-9c4f-4586-a5df-0576eeb99932</Key>
      <Name>XXL Screen Margin Left</Name>
      <Alias>xxlScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f674c41d-393e-4671-b3cb-1ed6da5dd8f0</Key>
      <Name>XXL Screen Margin Right</Name>
      <Alias>xxlScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a12f17fb-65fa-4ab5-9939-804727303e2a</Key>
      <Name>XXL Screen Margin Top</Name>
      <Alias>xxlScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3e140763-5356-4ba4-b5da-6ffb0d6001a6</Key>
      <Name>XXL Screen Padding Bottom</Name>
      <Alias>xxlScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1683eece-69e0-46c5-9616-f4893577696b</Key>
      <Name>XXL Screen Padding Left</Name>
      <Alias>xxlScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d2f3623c-028f-40c4-b452-6b07aef5f04e</Key>
      <Name>XXL Screen Padding Right</Name>
      <Alias>xxlScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f744a38f-3c84-4e8a-954a-d945c1c36f19</Key>
      <Name>XXL Screen Padding Top</Name>
      <Alias>xxlScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ecdf35e3-b1c6-4e72-83e5-377a3ff1a3c8</Key>
      <Name>XXL Screen Text Align</Name>
      <Alias>xxlScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="text-Align">Text-Align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>03ecdd24-70a8-4d49-a1b2-441c379ae8f4</Key>
      <Caption>Mobile Screen Margin</Caption>
      <Alias>margin/mobileScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>07ebd5e9-d293-4f37-bce5-66d982b60282</Key>
      <Caption>Margin</Caption>
      <Alias>margin</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>139dd76e-48e8-4b2b-80a6-c4fed75c3237</Key>
      <Caption>Large Screen Padding</Caption>
      <Alias>padding/largeScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>23506280-cc24-4924-96cb-395ad7e4a659</Key>
      <Caption>XL Screen Padding</Caption>
      <Alias>padding/xLScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>2564f471-fefd-4268-b181-1a95dab699ca</Key>
      <Caption>Small Screen Margin</Caption>
      <Alias>margin/smallScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>65d251cd-8916-4fc4-b732-92fe922929fc</Key>
      <Caption>Large Screen Margin</Caption>
      <Alias>margin/largeScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>7aca800d-f757-438c-9617-096027b424eb</Key>
      <Caption>Medium Screen Padding</Caption>
      <Alias>padding/mediumScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>7b9b895d-8d51-47d0-88f9-1a84c7e0f4d9</Key>
      <Caption>Small Screen Padding</Caption>
      <Alias>padding/smallScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>7e092c7a-ceca-4569-a1ed-9e03e72ec61c</Key>
      <Caption>XXL Screen Padding</Caption>
      <Alias>padding/xXLScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>857ffc73-707e-4dfd-821c-7b673c614054</Key>
      <Caption>Xl Screen Margin</Caption>
      <Alias>margin/xlScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>a0e785b9-be46-435f-ade5-a3460fcc62d4</Key>
      <Caption>XXL Screen Margin</Caption>
      <Alias>margin/xXLScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>a5fc2f37-c355-4e26-9354-37c7f9716e09</Key>
      <Caption>Text-Align</Caption>
      <Alias>text-Align</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>c0181f95-11ee-424c-814f-b28c0c6bdab4</Key>
      <Caption>Width</Caption>
      <Alias>width</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>c6ed823a-8d94-4b05-92a3-22758551be70</Key>
      <Caption>Medium Screen Margin</Caption>
      <Alias>margin/mediumScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>e3f1d4bc-41ee-4ba8-bc74-c24c7b45a40a</Key>
      <Caption>Padding</Caption>
      <Alias>padding</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>ef7a1117-263f-4894-841d-e24ce8589929</Key>
      <Caption>Mobile Screen Padding</Caption>
      <Alias>padding/mobileScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>