<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f59486c2-190f-40a4-8fc0-5c8b7e4fd387" Alias="dynamicContainerFullWidth" Level="4">
  <Info>
    <Name>Dynamic Container (full-width)</Name>
    <Icon>icon-checkbox-dotted</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>span over 1-12 colums</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Html+Elements/Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b86bfaf8-bb08-4a6c-ba76-87e37c7da466</Key>
      <Name>Large Screen</Name>
      <Alias>largeScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>07fca8c3-e373-4145-9fe1-1f51000d0a4e</Key>
      <Name>Large Screen Margin Bottom</Name>
      <Alias>largeScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b0da759f-99e7-4a23-a781-1d5a3d3f9f5c</Key>
      <Name>Large Screen Margin Left</Name>
      <Alias>largeScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f47bb71c-37d9-424a-a53f-0c6e046693c8</Key>
      <Name>Large Screen Margin Right</Name>
      <Alias>largeScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5a2a16c5-afe2-4358-921a-cb5e3a6bb876</Key>
      <Name>Large Screen Margin Top</Name>
      <Alias>largeScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>27b79884-a1ac-4081-b93e-1a7a0b6c1cae</Key>
      <Name>Large Screen Padding Bottom</Name>
      <Alias>largeScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>66aff5c3-8950-494a-9d29-1045960d67de</Key>
      <Name>Large Screen Padding Left</Name>
      <Alias>largeScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7e246dd8-ec2d-44e7-8192-bf78aaa19d62</Key>
      <Name>Large Screen Padding Right</Name>
      <Alias>largeScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d2a78098-bd79-4774-9a6a-7651ff69ee56</Key>
      <Name>Large Screen Padding Top</Name>
      <Alias>largeScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f2e167cd-bc0d-4f3a-827e-2f6b4433c061</Key>
      <Name>Large Screen Text Align</Name>
      <Alias>largeScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="text-Align">Text-Align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ef490d9b-09f2-4108-b794-c4f348ff6cd2</Key>
      <Name>Medium Screen</Name>
      <Alias>mediumScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6127b225-64e4-4629-9ed0-88946f75faa2</Key>
      <Name>Medium Screen Margin Bottom</Name>
      <Alias>mediumScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d56e31f3-623b-4815-8970-2dbda41c525c</Key>
      <Name>Medium Screen Margin Left</Name>
      <Alias>mediumScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9ea5df45-f63a-40ae-9218-b364333eeccd</Key>
      <Name>Medium Screen Margin Right</Name>
      <Alias>mediumScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed983c49-c49f-4899-a324-0d7235a5b634</Key>
      <Name>Medium Screen Margin Top</Name>
      <Alias>mediumScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3131c135-7af6-49d1-b41f-3da3ed1d1386</Key>
      <Name>Medium Screen Padding Bottom</Name>
      <Alias>mediumScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>31a70ba4-5882-4af5-85cc-511a2bfb284a</Key>
      <Name>Medium Screen Padding Left</Name>
      <Alias>mediumScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2052816d-660e-4a0e-8ca0-b7b5ded0832b</Key>
      <Name>Medium Screen Padding Right</Name>
      <Alias>mediumScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>35fa8753-bd8f-401a-af67-7093006d4c85</Key>
      <Name>Medium Screen Padding Top</Name>
      <Alias>mediumScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2fa36ab0-dc2f-4626-a2bb-93849b59e413</Key>
      <Name>Medium Screen Text Align</Name>
      <Alias>mediumScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="text-Align">Text-Align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>27bb8941-799d-4f9f-a010-e2245ac76c75</Key>
      <Name>Mobile Screen</Name>
      <Alias>mobileScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c5ff84f2-f4b2-40cf-9953-fa1a5d45dc93</Key>
      <Name>Mobile Screen Margin Bottom</Name>
      <Alias>mobileScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5f9c8aec-3f8d-4359-9292-890975091f16</Key>
      <Name>Mobile Screen Margin Left</Name>
      <Alias>mobileScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fb6b7df8-dd4f-4e98-b087-3f8a323f714a</Key>
      <Name>Mobile Screen Margin Right</Name>
      <Alias>mobileScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b0928aa-e328-43ab-bac8-b496a372f1c5</Key>
      <Name>Mobile Screen Margin Top</Name>
      <Alias>mobileScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6bc2600c-c561-4fff-865e-449c1f655c09</Key>
      <Name>Mobile Screen Padding Bottom</Name>
      <Alias>mobileScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a4284b9c-ee75-453d-8b1d-eec274f3984c</Key>
      <Name>Mobile Screen Padding Left</Name>
      <Alias>mobileScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4942c949-3c01-4e11-a2cc-aa6af30e8f0e</Key>
      <Name>Mobile Screen Padding Right</Name>
      <Alias>mobileScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6b74f4f0-d6c6-4281-9fa4-af021a9a6f7b</Key>
      <Name>Mobile Screen Padding Top</Name>
      <Alias>mobileScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b39438f7-0b5d-43ee-8c81-a47570dd04cb</Key>
      <Name>Mobile Screen Text Align</Name>
      <Alias>mobileScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="text-Align">Text-Align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>abcbaccb-ba41-498f-ac33-1c3be0064525</Key>
      <Name>Small Screen</Name>
      <Alias>smallScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f508bac0-fcd0-4989-b2aa-29d1ffc64dd0</Key>
      <Name>Small Screen Margin Bottom</Name>
      <Alias>smallScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f16cff56-0ae6-460d-80b3-4f49ea8b3642</Key>
      <Name>Small Screen Margin Left</Name>
      <Alias>smallScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b2ebf998-1281-41eb-96a0-384f99e168d5</Key>
      <Name>Small Screen Margin Right</Name>
      <Alias>smallScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da4c501b-5814-46ee-9310-f661eb1f8f2d</Key>
      <Name>Small Screen Margin Top</Name>
      <Alias>smallScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ca8c644c-138a-4dfb-a624-037919764772</Key>
      <Name>Small Screen Padding Bottom</Name>
      <Alias>smallScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cdc3d5a8-928b-4a9c-9efd-9cd2d41849f1</Key>
      <Name>Small Screen Padding Left</Name>
      <Alias>smallScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>50176b73-e13c-48b0-b825-30f886f7e5a4</Key>
      <Name>Small Screen Padding Right</Name>
      <Alias>smallScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>582f62e2-d70c-40c1-9c24-ad48e27754db</Key>
      <Name>Small Screen Padding Top</Name>
      <Alias>smallScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>637ebd6b-441a-4078-9a8f-d08dfdbf78d8</Key>
      <Name>Small Screen Text Align</Name>
      <Alias>smallScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="text-Align">Text-Align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>19a26562-0038-4134-a755-1d481e863426</Key>
      <Name>Use Custom Margins</Name>
      <Alias>useCustomMargins</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4daf40fe-0b31-4aa1-94fc-9a0d684722d0</Key>
      <Name>Use Custom Padding</Name>
      <Alias>useCustomPadding</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>94f334a5-b533-4f8c-910d-1a40acc66b64</Key>
      <Name>Use Responsive Text Align</Name>
      <Alias>useResponsiveTextAlign</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="text-Align">Text-Align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>efcc908c-8726-43e2-b516-6b0fb98e7814</Key>
      <Name>Use Responsive Width</Name>
      <Alias>useResponsiveWidth</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>287ea27c-6e60-46fd-b649-d5f4e218768d</Key>
      <Name>XL Screen</Name>
      <Alias>xlScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>61e6d43b-bf6a-4b7a-bded-717cf2519912</Key>
      <Name>XL Screen Margin Bottom</Name>
      <Alias>xlScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/xlScreenMargin">Xl Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>21facd21-888f-42bc-8fa7-503c70ef22f2</Key>
      <Name>XL Screen Margin Left</Name>
      <Alias>xlScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/xlScreenMargin">Xl Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>135b0934-bbeb-4f40-87d9-8d6185cb649d</Key>
      <Name>XL Screen Margin Right</Name>
      <Alias>xlScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/xlScreenMargin">Xl Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9613153a-c1e9-481d-b9e4-6ef54498980f</Key>
      <Name>XL Screen Margin Top</Name>
      <Alias>xlScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/xlScreenMargin">Xl Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6e7c7c7-4505-46e3-87e2-dcbf21b30124</Key>
      <Name>XL Screen Padding Bottom</Name>
      <Alias>xlScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>870bbe3d-2039-4814-a8b2-c2148b1dcb63</Key>
      <Name>XL Screen Padding Left</Name>
      <Alias>xlScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8dd20680-1496-4a3f-be9b-cb623dbe846a</Key>
      <Name>XL Screen Padding Right</Name>
      <Alias>xlScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3634fcbc-2308-4411-8f95-3325e6184f30</Key>
      <Name>XL Screen Padding Top</Name>
      <Alias>xlScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b072d949-cc81-4e81-8166-3b77d5f8fb98</Key>
      <Name>XL Screen Text Align</Name>
      <Alias>xlScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="text-Align">Text-Align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>161cc9f8-e019-4c8d-8aa5-0a2ae6479ba7</Key>
      <Name>XXL Screen</Name>
      <Alias>xxlScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f55b6f75-2db9-4c3b-9af8-1c61cd572d62</Key>
      <Name>XXL Screen Margin Bottom</Name>
      <Alias>xxlScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cddcc8a3-7155-4084-bf9f-f9483015fc21</Key>
      <Name>XXL Screen Margin Left</Name>
      <Alias>xxlScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a6dc242b-6b44-47e2-b309-92018d8052b0</Key>
      <Name>XXL Screen Margin Right</Name>
      <Alias>xxlScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>96e93170-5ea7-42a7-ab8c-f1864a454a04</Key>
      <Name>XXL Screen Margin Top</Name>
      <Alias>xxlScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>938980ed-791d-4d55-92be-293eca780ec2</Key>
      <Name>XXL Screen Padding Bottom</Name>
      <Alias>xxlScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aca5be14-f67c-4262-be0b-300468587318</Key>
      <Name>XXL Screen Padding Left</Name>
      <Alias>xxlScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ba7e6f2-1cbc-4600-8715-5f6d5861a3a2</Key>
      <Name>XXL Screen Padding Right</Name>
      <Alias>xxlScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>83b651d1-0566-48bb-8b70-c85cfb05ed75</Key>
      <Name>XXL Screen Padding Top</Name>
      <Alias>xxlScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>123af505-a907-410c-8430-0af80077a5a5</Key>
      <Name>XXL Screen Text Align</Name>
      <Alias>xxlScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="text-Align">Text-Align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>12a1792d-44e4-4bf6-90c7-80435f146be5</Key>
      <Caption>XXL Screen Padding</Caption>
      <Alias>padding/xXLScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>1548d3d6-a2c6-4d9e-91be-9d14c98fa1b0</Key>
      <Caption>XL Screen Padding</Caption>
      <Alias>padding/xLScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>2117960e-4d29-43cc-b596-8c2c2e170134</Key>
      <Caption>Large Screen Margin</Caption>
      <Alias>margin/largeScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>42ebcad0-c89e-4369-a9a3-eddc66cd36b7</Key>
      <Caption>Large Screen Padding</Caption>
      <Alias>padding/largeScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>6679180f-c41c-44d9-b954-7093299422e5</Key>
      <Caption>XXL Screen Margin</Caption>
      <Alias>margin/xXLScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>70998f5c-ff7c-4e00-b1cd-721658dab4ae</Key>
      <Caption>Margin</Caption>
      <Alias>margin</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>7d8fab4f-8d6e-4843-9762-9fef6a442ad9</Key>
      <Caption>Text-Align</Caption>
      <Alias>text-Align</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>891460d0-2388-41e7-9948-b95e480cd015</Key>
      <Caption>Small Screen Padding</Caption>
      <Alias>padding/smallScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>95992cbb-4ab5-441e-a9b7-0af5b4511656</Key>
      <Caption>Mobile Screen Margin</Caption>
      <Alias>margin/mobileScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>9a9cf237-90e4-46a6-9382-fb1d3e93edc9</Key>
      <Caption>Medium Screen Margin</Caption>
      <Alias>margin/mediumScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>9ae098ce-607e-4d67-bdb3-73e554d9c36f</Key>
      <Caption>Medium Screen Padding</Caption>
      <Alias>padding/mediumScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>9c73eac9-a4b0-4f97-91a5-4ccbcb345646</Key>
      <Caption>Padding</Caption>
      <Alias>padding</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>9cefab55-0e84-485b-99af-853d5c3b4310</Key>
      <Caption>Mobile Screen Padding</Caption>
      <Alias>padding/mobileScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>cd12a42f-9e13-4e16-8cb4-7b26c1ebb51d</Key>
      <Caption>Width</Caption>
      <Alias>width</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>f937eb58-9109-4f73-ae62-5391ee9888cc</Key>
      <Caption>Xl Screen Margin</Caption>
      <Alias>margin/xlScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>ff5c8aa1-6436-455d-9973-822454dbfede</Key>
      <Caption>Small Screen Margin</Caption>
      <Alias>margin/smallScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>