<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="89ccc465-e477-47e7-8ae0-e0abeda87fef" Alias="helpForm" Level="3">
  <Info>
    <Name>Help Form</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Form+Help</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c0c4cbd6-aa87-4bd7-b2a9-a09e9868494f" SortOrder="0">helpItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>