<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ee58ab6b-2073-497a-86b1-2326f6d75bc4" Alias="img" Level="4">
  <Info>
    <Name>Image</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>&lt;img&gt;</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Html+Elements/Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2f67c1f5-b90c-4564-bb3f-684f953a803b</Key>
      <Name>Image Description</Name>
      <Alias>imageDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>47c9ea69-1882-42d3-8736-b2f585cfe566</Key>
      <Name>Large Screen</Name>
      <Alias>largeScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7ce10562-15a4-4092-9259-be95f983b988</Key>
      <Name>Large Screen Margin Bottom</Name>
      <Alias>largeScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9aa5b0f4-0ce9-40cd-ae85-5a7b0c92b2e5</Key>
      <Name>Large Screen Margin Left</Name>
      <Alias>largeScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>376a4811-f2be-4f61-8ce0-b1465b8fa515</Key>
      <Name>Large Screen Margin Right</Name>
      <Alias>largeScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>231e4cc3-f9be-4aee-ac5a-9c6345034d5c</Key>
      <Name>Large Screen Margin Top</Name>
      <Alias>largeScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7faa9876-63b4-46b8-b478-3bd619e0877f</Key>
      <Name>Large Screen Padding Bottom</Name>
      <Alias>largeScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d6a60ab8-7536-479f-b96f-93e50dc00a77</Key>
      <Name>Large Screen Padding Left</Name>
      <Alias>largeScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>458587e3-5c6d-4b37-a362-8165f2312019</Key>
      <Name>Large Screen Padding Right</Name>
      <Alias>largeScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>59714b71-a1f7-436c-ba58-583ac8832181</Key>
      <Name>Large Screen Padding Top</Name>
      <Alias>largeScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da8be1c1-a7b8-469b-9415-f4aa762453aa</Key>
      <Name>Medium Screen</Name>
      <Alias>mediumScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>17b02088-e857-4f30-af8f-c0e2b92fd31a</Key>
      <Name>Medium Screen Margin Bottom</Name>
      <Alias>mediumScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1185902d-a7e3-419a-a2c9-2d0514d6a7fc</Key>
      <Name>Medium Screen Margin Left</Name>
      <Alias>mediumScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1aa54eb1-a16a-4aa1-a4c9-5bb30b9cb4fb</Key>
      <Name>Medium Screen Margin Right</Name>
      <Alias>mediumScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ba3025c-ad94-4e3a-8244-4d81231c5a6f</Key>
      <Name>Medium Screen Margin Top</Name>
      <Alias>mediumScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3f2c5f3a-abe1-408d-a0c9-93d07c4c3dfe</Key>
      <Name>Medium Screen Padding Bottom</Name>
      <Alias>mediumScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f269839d-3661-479f-a369-d5c087aebe06</Key>
      <Name>Medium Screen Padding Left</Name>
      <Alias>mediumScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c5c49323-ece9-4f13-916e-a08d24db9c3d</Key>
      <Name>Medium Screen Padding Right</Name>
      <Alias>mediumScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ea018160-baa4-42a6-a538-511adac062a9</Key>
      <Name>Medium Screen Padding Top</Name>
      <Alias>mediumScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0faa3f6-06be-4500-b43a-13f62ef0360c</Key>
      <Name>Mobile Screen</Name>
      <Alias>mobileScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ff08c4ac-b082-4117-863d-e7825446228b</Key>
      <Name>Mobile Screen Margin Bottom</Name>
      <Alias>mobileScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>751c8a67-c49e-4492-84f6-aeb43be93525</Key>
      <Name>Mobile Screen Margin Left</Name>
      <Alias>mobileScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5c5f7839-f41b-4367-be84-e57d7a9c4243</Key>
      <Name>Mobile Screen Margin Right</Name>
      <Alias>mobileScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1a2f230e-608a-4bfb-96d2-9736492ff1a8</Key>
      <Name>Mobile Screen Margin Top</Name>
      <Alias>mobileScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2b4d0765-f459-432f-93d6-83d560eeb599</Key>
      <Name>Mobile Screen Padding Bottom</Name>
      <Alias>mobileScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>50fb318e-b79d-4501-ad1b-e06457134367</Key>
      <Name>Mobile Screen Padding Left</Name>
      <Alias>mobileScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>01f5b7ff-cf6e-4268-97c0-396e6519a9e1</Key>
      <Name>Mobile Screen Padding Right</Name>
      <Alias>mobileScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc708270-950e-463e-8286-0ce44a5858a6</Key>
      <Name>Mobile Screen Padding Top</Name>
      <Alias>mobileScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2811ef09-5f42-4b58-8999-841fae118497</Key>
      <Name>Selected Image</Name>
      <Alias>selectedImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6f5946c8-aa57-49aa-bc37-703fa78f9f8e</Key>
      <Name>Small Screen</Name>
      <Alias>smallScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c745b0fe-0dca-409c-8bc9-127027668a38</Key>
      <Name>Small Screen Margin Bottom</Name>
      <Alias>smallScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c489febc-0c92-4426-84f5-ef5307cba1aa</Key>
      <Name>Small Screen Margin Left</Name>
      <Alias>smallScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b7626a8f-9fb2-432c-ba89-7de228937d82</Key>
      <Name>Small Screen Margin Right</Name>
      <Alias>smallScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5d72b980-60f1-4e50-9699-182c1963acbf</Key>
      <Name>Small Screen Margin Top</Name>
      <Alias>smallScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e7af62e6-9935-475c-88d1-758517824f13</Key>
      <Name>Small Screen Padding Bottom</Name>
      <Alias>smallScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b5d769d0-181d-4572-9747-386f48efae3e</Key>
      <Name>Small Screen Padding Left</Name>
      <Alias>smallScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>696f6ef0-00cf-4e41-8f48-aef0c289824c</Key>
      <Name>Small Screen Padding Right</Name>
      <Alias>smallScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2e562740-4532-4d06-85a9-d3e71f2a3836</Key>
      <Name>Small Screen Padding Top</Name>
      <Alias>smallScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cde73087-58ea-4cd6-876a-e2b058168cbc</Key>
      <Name>Use Custom Margins</Name>
      <Alias>useCustomMargins</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fe8500ad-1cdd-4874-830b-1a0d121007cd</Key>
      <Name>Use Custom Padding</Name>
      <Alias>useCustomPadding</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b5d17233-957e-4d68-8c14-b3d45a0dbc1b</Key>
      <Name>Use Responsive Width</Name>
      <Alias>useResponsiveWidth</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0e646a17-04a4-4a53-a90e-6133e73b8474</Key>
      <Name>XL Screen</Name>
      <Alias>xlScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c5f8c719-ff14-4319-9dd4-54b2c0a3e556</Key>
      <Name>XL Screen Margin Bottom</Name>
      <Alias>xlScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/xlScreenMargin">Xl Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e0f8c331-ee50-4355-bc13-b960a54633af</Key>
      <Name>XL Screen Margin Left</Name>
      <Alias>xlScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/xlScreenMargin">Xl Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>53a23531-731f-4baa-89a3-a712bf4e9135</Key>
      <Name>XL Screen Margin Right</Name>
      <Alias>xlScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/xlScreenMargin">Xl Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>015104ca-6c0e-4e9f-95da-d3f9eb8e96ff</Key>
      <Name>XL Screen Margin Top</Name>
      <Alias>xlScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/xlScreenMargin">Xl Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4318295f-187a-4275-aa5e-3e4c1e204bc5</Key>
      <Name>XL Screen Padding Bottom</Name>
      <Alias>xlScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>caa2cc4b-2265-49f7-a3d7-0a235c38febc</Key>
      <Name>XL Screen Padding Left</Name>
      <Alias>xlScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d52e0bdb-92fc-4648-ba65-fab80200437b</Key>
      <Name>XL Screen Padding Right</Name>
      <Alias>xlScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>12c4be6f-52c3-4750-9f2c-707bf8c91e46</Key>
      <Name>XL Screen Padding Top</Name>
      <Alias>xlScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8f4df9ce-193e-4b00-87ef-cc858ad4b824</Key>
      <Name>XXL Screen</Name>
      <Alias>xxlScreen</Alias>
      <Definition>6f135dad-98b1-474e-a2a2-cdd8a4cab4ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="width">Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d5649a4e-e3f4-43dc-94a4-741953c3154e</Key>
      <Name>XXL Screen Margin Bottom</Name>
      <Alias>xxlScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>04b88f5a-fe61-40ea-9038-64a401f3c0c3</Key>
      <Name>XXL Screen Margin Left</Name>
      <Alias>xxlScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ea9d1cce-db21-4c00-bc12-36b3e9cfeef7</Key>
      <Name>XXL Screen Margin Right</Name>
      <Alias>xxlScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8e928f0a-bb6c-4fab-8a40-f5e31d84f318</Key>
      <Name>XXL Screen Margin Top</Name>
      <Alias>xxlScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cf22be12-b8b0-4880-938d-6b625fefa9be</Key>
      <Name>XXL Screen Padding Bottom</Name>
      <Alias>xxlScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>56429328-f1ed-4075-a8a3-5d1587372f30</Key>
      <Name>XXL Screen Padding Left</Name>
      <Alias>xxlScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5ebc3f1d-1ccc-4298-94f5-907788009107</Key>
      <Name>XXL Screen Padding Right</Name>
      <Alias>xxlScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>318af58c-af35-4ea6-83e0-4673b5f9c96d</Key>
      <Name>XXL Screen Padding Top</Name>
      <Alias>xxlScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>021bde02-7f05-4fc4-8433-b1e7f9b2a256</Key>
      <Caption>XXL Screen Margin</Caption>
      <Alias>margin/xXLScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>038c9a53-283f-45b4-b2a2-a12194a71889</Key>
      <Caption>Width</Caption>
      <Alias>width</Alias>
      <Type>Tab</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>08dbb555-88d8-4895-b272-9ff55b5ce586</Key>
      <Caption>Margin</Caption>
      <Alias>margin</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>23231912-9806-4e3e-8925-0e69f108c7f7</Key>
      <Caption>XL Screen Padding</Caption>
      <Alias>padding/xLScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>2f65ec88-af10-4064-af55-2a56262584d5</Key>
      <Caption>Padding</Caption>
      <Alias>padding</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>3682e25a-6b0a-49fc-be4e-ece97613d9bb</Key>
      <Caption>Large Screen Padding</Caption>
      <Alias>padding/largeScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>5470eb1e-dd49-46cf-938c-9286ad15e7c0</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>55f8fa66-ddc4-4a12-acde-d633867c8bc7</Key>
      <Caption>XXL Screen Padding</Caption>
      <Alias>padding/xXLScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>76e1046c-7f8f-4ec7-8bbe-58aea4e040e0</Key>
      <Caption>Small Screen Margin</Caption>
      <Alias>margin/smallScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>9330f508-756f-4dd8-b3c2-fdb01b482497</Key>
      <Caption>Medium Screen Padding</Caption>
      <Alias>padding/mediumScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>9a8e0e72-1148-4323-a168-a307a0e06f1d</Key>
      <Caption>Mobile Screen Padding</Caption>
      <Alias>padding/mobileScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a04d2eeb-42f7-4d26-a416-e3e39f66919f</Key>
      <Caption>Large Screen Margin</Caption>
      <Alias>margin/largeScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>a804ad63-c83c-412b-8108-7607ddf1cb1b</Key>
      <Caption>Xl Screen Margin</Caption>
      <Alias>margin/xlScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>bd9afab8-6985-4706-8062-0f248fb83e5c</Key>
      <Caption>Medium Screen Margin</Caption>
      <Alias>margin/mediumScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>df03f151-01c5-4234-a280-db078ac089e7</Key>
      <Caption>Small Screen Padding</Caption>
      <Alias>padding/smallScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>e4387e89-8e6b-4375-9704-64b3f2e25b09</Key>
      <Caption>Mobile Screen Margin</Caption>
      <Alias>margin/mobileScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>