<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="23dfb2a0-9fe1-4c94-88e8-716389b968e8" Alias="leftRightSection" Level="4">
  <Info>
    <Name>Left Right Section</Name>
    <Icon>icon-checkbox-dotted</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Html+Elements/Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6adee060-e5df-415e-9ba6-0bfa9308757d</Key>
      <Name>Large Screen Margin Bottom</Name>
      <Alias>largeScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ddaa655e-4719-497f-95b1-c814889f7b95</Key>
      <Name>Large Screen Margin Left</Name>
      <Alias>largeScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6da8c7f2-0a12-4b31-bd50-212235c55204</Key>
      <Name>Large Screen Margin Right</Name>
      <Alias>largeScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cb3a0365-43f1-45f2-b9d9-aaac70fc04c5</Key>
      <Name>Large Screen Margin Top</Name>
      <Alias>largeScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/largeScreenMargin">Large Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>514d262a-4ca3-4b6c-8117-5d23e8d07668</Key>
      <Name>Large Screen Padding Bottom</Name>
      <Alias>largeScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b920e157-00a3-4da7-84c0-c581fa140249</Key>
      <Name>Large Screen Padding Left</Name>
      <Alias>largeScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>602e6eb2-3de8-4636-a5d6-0c524933b933</Key>
      <Name>Large Screen Padding Right</Name>
      <Alias>largeScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>65b13242-e4dc-4ccf-a287-9172230edcbf</Key>
      <Name>Large Screen Padding Top</Name>
      <Alias>largeScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/largeScreenPadding">Large Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9e685734-bc48-4ba7-b7df-50d4fa95bfcd</Key>
      <Name>Large Screen Text Align</Name>
      <Alias>largeScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="text-align">Text-align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fb0a5940-7803-46bb-9c45-6853f3980d63</Key>
      <Name>Medium Screen Margin Bottomm</Name>
      <Alias>mediumScreenMarginBottomm</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e88b2701-dcce-4b27-b70f-4c33706a6c10</Key>
      <Name>Medium Screen Margin Left</Name>
      <Alias>mediumScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>166dd78a-eff5-4bcf-aac7-306c5e402fc4</Key>
      <Name>Medium Screen Margin Right</Name>
      <Alias>mediumScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>986b7b24-973d-4000-aef0-289b706067e1</Key>
      <Name>Medium Screen Margin Top</Name>
      <Alias>mediumScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/mediumScreenMargin">Medium Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>481bbae1-0a11-422f-a060-b7da47bf5821</Key>
      <Name>Medium Screen Padding Bottom</Name>
      <Alias>mediumScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9a03915d-9eed-4a69-9351-92f0119f8f4b</Key>
      <Name>Medium Screen Padding Left</Name>
      <Alias>mediumScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>022f9ab9-7330-474b-8e89-7f86bce1bb65</Key>
      <Name>Medium Screen Padding Right</Name>
      <Alias>mediumScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ebeda01-abe4-4a9e-9936-949df43d0331</Key>
      <Name>Medium Screen Padding Top</Name>
      <Alias>mediumScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/mediumScreenPadding">Medium Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5e1eb21c-2383-41eb-96a1-b16e4c370e4a</Key>
      <Name>Medium Screen Text Align</Name>
      <Alias>mediumScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="text-align">Text-align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3ab09c65-72c5-46fc-8290-e2947dc5c0d9</Key>
      <Name>Mobile Screen Margin Bottom</Name>
      <Alias>mobileScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ecd2a0f-f8a4-40bc-b52b-28af7f9dc437</Key>
      <Name>Mobile Screen Margin Left</Name>
      <Alias>mobileScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fd087fc8-52c9-48bb-b953-be45cf3c1772</Key>
      <Name>Mobile Screen Margin Right</Name>
      <Alias>mobileScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6211d3c5-767e-4fcc-88cb-49f81a37a429</Key>
      <Name>Mobile Screen Margin Top</Name>
      <Alias>mobileScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/mobileScreenMargin">Mobile Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cc2e0663-6dd8-4513-9e74-4883bfded706</Key>
      <Name>Mobile Screen Padding Bottom</Name>
      <Alias>mobileScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b0067d4-cda4-47b5-ba8e-1bdfe0ba4944</Key>
      <Name>Mobile Screen Padding Left</Name>
      <Alias>mobileScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2f100414-ba1e-443a-a431-83643b86b884</Key>
      <Name>Mobile Screen Padding Right</Name>
      <Alias>mobileScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>13251d04-076b-4ccd-ad4c-fc2870909c2f</Key>
      <Name>Mobile Screen Padding Top</Name>
      <Alias>mobileScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/mobileScreenPadding">Mobile Screen padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>17c804a7-319d-4902-8e0c-e11e20b72eb3</Key>
      <Name>Mobile Screen Text Align</Name>
      <Alias>mobileScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="text-align">Text-align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fe2ca658-9e0f-4059-87ac-d299d64555cf</Key>
      <Name>Small Screen Margin Bottom</Name>
      <Alias>smallScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cde8a76e-fd12-464c-a1f4-46188962c8c9</Key>
      <Name>Small Screen Margin Left</Name>
      <Alias>smallScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3080e9d4-1ffb-48b8-abcb-28433e6839f7</Key>
      <Name>Small Screen Margin Right</Name>
      <Alias>smallScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ab554262-7bfc-4e79-affa-750dda857635</Key>
      <Name>Small Screen Margin Top</Name>
      <Alias>smallScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/smallScreenMargin">Small Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e44806b4-35b3-4e2c-9967-09a9a28f4fa6</Key>
      <Name>Small Screen Padding Bottom</Name>
      <Alias>smallScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>362c20ce-7033-46a6-b836-c0ca3612ebe6</Key>
      <Name>Small Screen Padding Left</Name>
      <Alias>smallScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0fb187f0-c4b7-49ad-a4ff-21169735bf7a</Key>
      <Name>Small Screen Padding Right</Name>
      <Alias>smallScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bccb59a9-1ed7-4b35-b68f-aa86cc0030bd</Key>
      <Name>Small Screen Padding Top</Name>
      <Alias>smallScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/smallScreenPadding">Small Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b84448b4-aa11-4d42-93de-2ccd93010345</Key>
      <Name>Small Screen Text Align</Name>
      <Alias>smallScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="text-align">Text-align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>839e95de-ed6c-48d6-b0a0-1b81272c9f22</Key>
      <Name>Use Custom Margins</Name>
      <Alias>useCustomMargins</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cfdac5b7-f672-4a42-a9b8-6a0c4fea6dec</Key>
      <Name>Use Custom Padding</Name>
      <Alias>useCustomPadding</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>72226cb5-6b09-4601-ace5-8439c8840a73</Key>
      <Name>Use Responsive Text Align</Name>
      <Alias>useResponsiveTextAlign</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="text-align">Text-align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b3707ec0-d60d-468c-a7bd-d44a8f2ebfd1</Key>
      <Name>XL Screen Margin Bottom</Name>
      <Alias>xlScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/xLScreenMargin">XL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c5cdad85-883b-4618-a113-d5b98e52a82b</Key>
      <Name>XL Screen Margin Left</Name>
      <Alias>xlScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/xLScreenMargin">XL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bfb14acf-1506-4a2b-ba7d-1d9733e21d56</Key>
      <Name>XL Screen Margin Right</Name>
      <Alias>xlScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/xLScreenMargin">XL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8bf45e4e-4c12-4028-b657-40b264f9a8e9</Key>
      <Name>XL Screen Margin Top</Name>
      <Alias>xlScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/xLScreenMargin">XL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f58ab1dc-cf68-4b4d-9076-6b29fdd33f48</Key>
      <Name>XL Screen Padding Bottom</Name>
      <Alias>xlScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d9c710af-5edd-444d-a22e-d9f5dc49ae32</Key>
      <Name>XL Screen Padding Left</Name>
      <Alias>xlScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6f3ba95d-5bee-42db-ae92-400f8456be8b</Key>
      <Name>XL Screen Padding Right</Name>
      <Alias>xlScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00e613cc-df23-4bd8-89bc-2d72d61eb8d5</Key>
      <Name>XL Screen Padding Top</Name>
      <Alias>xlScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/xLScreenPadding">XL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cee93288-7913-45ee-a935-92e64de8acf5</Key>
      <Name>XL Screen Text Align</Name>
      <Alias>xlScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="text-align">Text-align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ef70f7c2-5d9c-42fd-b377-91c96c2515ce</Key>
      <Name>XXL Screen Margin Bottom</Name>
      <Alias>xxlScreenMarginBottom</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ab123cec-d149-43ff-9f60-0f87bc7b46c2</Key>
      <Name>XXL Screen Margin Left</Name>
      <Alias>xxlScreenMarginLeft</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8d86fcdf-b55e-4180-a627-2e54762072dd</Key>
      <Name>XXL Screen Margin Right</Name>
      <Alias>xxlScreenMarginRight</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>977437ad-9b7c-4195-86c3-a5cc022f55ab</Key>
      <Name>XXL Screen Margin Top</Name>
      <Alias>xxlScreenMarginTop</Alias>
      <Definition>203c33f3-3abd-404c-a14a-600dad46ab20</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="margin/xXLScreenMargin">XXL Screen Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7eca3c96-bee4-4d61-9100-a245d40875d3</Key>
      <Name>XXL Screen Padding Bottom</Name>
      <Alias>xxlScreenPaddingBottom</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3704a79c-60de-465b-a64f-b3fd41103d18</Key>
      <Name>XXL Screen Padding Left</Name>
      <Alias>xxlScreenPaddingLeft</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bb7c8c02-414d-44fd-aef0-eb231e368513</Key>
      <Name>XXL Screen Padding Right</Name>
      <Alias>xxlScreenPaddingRight</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>70d98a5a-a17f-4d09-9478-5b4ffcbff8b8</Key>
      <Name>XXL Screen Padding Top</Name>
      <Alias>xxlScreenPaddingTop</Alias>
      <Definition>eed2f196-3c81-4765-b84a-ff3e7a432aab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="padding/xXLScreenPadding">XXL Screen Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9ea56764-37f2-4b91-aabe-1967a5360e37</Key>
      <Name>XXL Screen Text Align</Name>
      <Alias>xxlScreenTextAlign</Alias>
      <Definition>104ef627-9e6f-4cd9-8a1b-7e149309b05b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="text-align">Text-align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2c6e203a-f900-4710-83be-4e741a988102</Key>
      <Caption>Small Screen Margin</Caption>
      <Alias>margin/smallScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>321e77ff-70f1-45f4-a8a8-484c676855d1</Key>
      <Caption>Margin</Caption>
      <Alias>margin</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>4a24c0c2-1ec3-4826-b1ad-fce7a3e1443c</Key>
      <Caption>Small Screen Padding</Caption>
      <Alias>padding/smallScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>599ae91a-df36-42c0-85aa-f76cf8d580c4</Key>
      <Caption>Padding</Caption>
      <Alias>padding</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>6cd85331-8b7d-4d02-a879-3df93f70e3ba</Key>
      <Caption>Large Screen Padding</Caption>
      <Alias>padding/largeScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>7a45a51d-e623-4518-bda5-b3311ac5f577</Key>
      <Caption>Mobile Screen padding</Caption>
      <Alias>padding/mobileScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>7eabb4a7-7b3e-4e64-b651-321bf9799925</Key>
      <Caption>XL Screen Margin</Caption>
      <Alias>margin/xLScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>950999c0-7d86-44f0-889f-d451678b2e8b</Key>
      <Caption>Mobile Screen Margin</Caption>
      <Alias>margin/mobileScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>b2c807a5-05e9-4d05-ad1a-6dc52f45e489</Key>
      <Caption>Medium Screen Margin</Caption>
      <Alias>margin/mediumScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>b7f5b5bf-cba0-4736-b7c3-adecee56eef6</Key>
      <Caption>XXL Screen Padding</Caption>
      <Alias>padding/xXLScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>c6c4cdee-7514-4477-9199-773fc8d8c288</Key>
      <Caption>Medium Screen Padding</Caption>
      <Alias>padding/mediumScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>f2e03ce4-9575-4f43-8acc-be30f92865ce</Key>
      <Caption>XXL Screen Margin</Caption>
      <Alias>margin/xXLScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>f3166572-bcdd-4f1b-b189-591d93cca777</Key>
      <Caption>XL Screen Padding</Caption>
      <Alias>padding/xLScreenPadding</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>f4919242-1b76-4c0b-8aea-d562f68b22aa</Key>
      <Caption>Text-align</Caption>
      <Alias>text-align</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>fdc7e35f-9c92-4dca-bc28-d02fd4ab2d75</Key>
      <Caption>Large Screen Margin</Caption>
      <Alias>margin/largeScreenMargin</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>