<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0aa91bc5-42de-49e5-ac73-272054a466da" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Templates</Folder>
    <Compositions />
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8c25abb3-fa11-450b-9861-31edfdee76dc">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0aa91bc5-42de-49e5-ac73-272054a466da" SortOrder="0">modularPage</ContentType>
    <ContentType Key="a36d356a-e77b-4eca-a303-f8b3130a74f9" SortOrder="1">serviceListPage</ContentType>
    <ContentType Key="258c350e-82ca-4083-86d4-70b13e0c33fc" SortOrder="2">projectListPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b33c3c3e-fd82-436a-8eb6-40da21882144</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>098b783f-0112-47bd-bf1b-3df15468bc81</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2aca50fd-4206-4af5-8d49-d57d4a40a2dd</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ed4500b4-0d0f-4ced-a748-3e26024278ed</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>