<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="502c8302-70b7-4be9-b70a-de11abce252d" Alias="questions" Level="3">
  <Info>
    <Name>Questions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Submitted+Questions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="403aab15-af9c-4628-ac30-a274ffceab2b" SortOrder="0">questionItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>