@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p, span {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  font-size: 16px;
  color: #535656;
}
@media (min-width: 576px) {
  body {
    font-size: 14px;
  }
}

span {
  color: var(--color-secondary);
  font-weight: 600;
}

.custom-bg-secondary span {
  color: var(--color-primary);
}

:root {
  --color-default: #535656;
  --color-dark: #171717;
  --color-primary: #4F5955;
  --color-primary-light: #6d7573;
  --color-primary-dark: #2f3331;
  --color-secondary: #D9C3A9;
  --color-accent: #F2EDDC;
  --color-gray: #F7F7F7;
  --color-light: #FFFFFF;
  --color-border-dark: #333333;
  --color-border-transparent: rgba(51, 51, 51, 0.10);
  --color-border-primary: #424946;
  --color-border-secondary: #c0ac94;
  --color-border-accent: #d5d1c2;
  --color-border-gray: #e3e3e3;
  --color-border-light: #eeeeee;
  --color-border-light-transparent: rgba(255, 255, 255, 0.95);
}

:root.dark-theme {
  --color-dark: #e0e0e0;
  --color-primary: #a3b3af;
  --color-primary-light: #c1ccc9;
  --color-primary-dark: #6f7976;
  --color-secondary: #3c2f26;
  --color-accent: #1a1a1a;
  --color-gray: #2b2b2b;
  --color-light: #171717;
  --color-border-dark: #cccccc;
  --color-border-transparent: rgba(204, 204, 204, 0.10);
  --color-border-primary: #b6bcb9;
  --color-border-secondary: #42392e;
  --color-border-accent: #2a2925;
  --color-border-gray: #474747;
  --color-border-light: #2c2c2c;
  --color-border-light-transparent: rgba(23, 23, 23, 0.95);
}

body {
  color: var(--color-default);
}

a {
  color: var(--color-secondary);
}
a:hover, a:focus, a:active {
  color: var(--color-primary);
}

.custom-bg-dark a {
  color: var(--color-secondary);
}
.custom-bg-dark a:hover, .custom-bg-dark a:focus, .custom-bg-dark a:active {
  color: var(--color-accent);
}

.custom-bg-primary a {
  color: var(--color-light);
}
.custom-bg-primary a:hover, .custom-bg-primary a:focus, .custom-bg-primary a:active {
  color: var(--color-secondary);
}

.custom-bg-secondary a {
  color: var(--color-light);
}
.custom-bg-secondary a:hover, .custom-bg-secondary a:focus, .custom-bg-secondary a:active {
  color: var(--color-light);
}

.custom-bg-accent a {
  color: var(--color-secondary);
}
.custom-bg-accent a:hover, .custom-bg-accent a:focus, .custom-bg-accent a:active {
  color: var(--color-primary);
}

.custom-bg-gray a {
  color: var(--color-secondary);
}
.custom-bg-gray a:hover, .custom-bg-gray a:focus, .custom-bg-gray a:active {
  color: var(--color-primary);
}

.custom-bg-light a {
  color: var(--color-primary);
}
.custom-bg-light a:hover, .custom-bg-light a:focus, .custom-bg-light a:active {
  color: var(--color-primary);
}

.custom-btn-dark {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-color: var(--color-dark);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-btn-dark:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-btn-dark:hover, .custom-btn-dark:focus, .custom-btn-dark:active {
  outline: none !important;
}

.custom-btn-primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-color: var(--color-primary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-btn-primary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-btn-primary:hover, .custom-btn-primary:focus, .custom-btn-primary:active {
  outline: none !important;
}

.custom-btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-color: var(--color-secondary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-btn-secondary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-btn-secondary:hover, .custom-btn-secondary:focus, .custom-btn-secondary:active {
  outline: none !important;
}

.custom-btn-accent {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-btn-accent:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-secondary);
  border-color: var(--color-primary-dark);
}
.custom-btn-accent:hover, .custom-btn-accent:focus, .custom-btn-accent:active {
  outline: none !important;
}

.custom-btn-gray {
  background-color: var(--color-gray);
  color: var(--color-primary);
  border-color: var(--color-gray);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-btn-gray:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-btn-gray:hover, .custom-btn-gray:focus, .custom-btn-gray:active {
  outline: none !important;
}

.custom-btn-light {
  background-color: var(--color-light);
  color: var(--color-primary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-btn-light:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-btn-light:hover, .custom-btn-light:focus, .custom-btn-light:active {
  outline: none !important;
}

.custom-btn-menu {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-color: var(--color-primary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-btn-menu:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-btn-menu:hover, .custom-btn-menu:focus, .custom-btn-menu:active {
  outline: none !important;
}

.custom-bg-dark .custom-btn-dark {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-dark .custom-btn-dark:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-dark .custom-btn-dark:hover, .custom-bg-dark .custom-btn-dark:focus, .custom-bg-dark .custom-btn-dark:active {
  outline: none !important;
}
.custom-bg-dark .custom-btn-primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-color: var(--color-primary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-dark .custom-btn-primary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-dark .custom-btn-primary:hover, .custom-bg-dark .custom-btn-primary:focus, .custom-bg-dark .custom-btn-primary:active {
  outline: none !important;
}
.custom-bg-dark .custom-btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-color: var(--color-secondary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-dark .custom-btn-secondary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-dark .custom-btn-secondary:hover, .custom-bg-dark .custom-btn-secondary:focus, .custom-bg-dark .custom-btn-secondary:active {
  outline: none !important;
}
.custom-bg-dark .custom-btn-accent {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-dark .custom-btn-accent:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-color: var(--color-primary);
}
.custom-bg-dark .custom-btn-accent:hover, .custom-bg-dark .custom-btn-accent:focus, .custom-bg-dark .custom-btn-accent:active {
  outline: none !important;
}
.custom-bg-dark .custom-btn-gray {
  background-color: var(--color-gray);
  color: var(--color-primary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-dark .custom-btn-gray:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-dark .custom-btn-gray:hover, .custom-bg-dark .custom-btn-gray:focus, .custom-bg-dark .custom-btn-gray:active {
  outline: none !important;
}
.custom-bg-dark .custom-btn-light {
  background-color: var(--color-light);
  color: var(--color-primary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-dark .custom-btn-light:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-dark .custom-btn-light:hover, .custom-bg-dark .custom-btn-light:focus, .custom-bg-dark .custom-btn-light:active {
  outline: none !important;
}
.custom-bg-dark .custom-btn-menu {
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-color: var(--color-primary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-dark .custom-btn-menu:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-dark .custom-btn-menu:hover, .custom-bg-dark .custom-btn-menu:focus, .custom-bg-dark .custom-btn-menu:active {
  outline: none !important;
}

.custom-bg-primary .custom-btn-dark {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-primary .custom-btn-dark:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-primary .custom-btn-dark:hover, .custom-bg-primary .custom-btn-dark:focus, .custom-bg-primary .custom-btn-dark:active {
  outline: none !important;
}
.custom-bg-primary .custom-btn-primary {
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-color: var(--color-accent);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-primary .custom-btn-primary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-primary .custom-btn-primary:hover, .custom-bg-primary .custom-btn-primary:focus, .custom-bg-primary .custom-btn-primary:active {
  outline: none !important;
}
.custom-bg-primary .custom-btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-color: var(--color-secondary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-primary .custom-btn-secondary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-primary .custom-btn-secondary:hover, .custom-bg-primary .custom-btn-secondary:focus, .custom-bg-primary .custom-btn-secondary:active {
  outline: none !important;
}
.custom-bg-primary .custom-btn-accent {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-primary .custom-btn-accent:hover {
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-color: var(--color-accent);
}
.custom-bg-primary .custom-btn-accent:hover, .custom-bg-primary .custom-btn-accent:focus, .custom-bg-primary .custom-btn-accent:active {
  outline: none !important;
}
.custom-bg-primary .custom-btn-gray {
  background-color: var(--color-gray);
  color: var(--color-primary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-primary .custom-btn-gray:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-primary .custom-btn-gray:hover, .custom-bg-primary .custom-btn-gray:focus, .custom-bg-primary .custom-btn-gray:active {
  outline: none !important;
}
.custom-bg-primary .custom-btn-light {
  background-color: var(--color-light);
  color: var(--color-primary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-primary .custom-btn-light:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-primary .custom-btn-light:hover, .custom-bg-primary .custom-btn-light:focus, .custom-bg-primary .custom-btn-light:active {
  outline: none !important;
}
.custom-bg-primary .custom-btn-menu {
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-color: var(--color-accent);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-primary .custom-btn-menu:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-primary .custom-btn-menu:hover, .custom-bg-primary .custom-btn-menu:focus, .custom-bg-primary .custom-btn-menu:active {
  outline: none !important;
}

.custom-bg-secondary .custom-btn-dark {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-secondary .custom-btn-dark:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-secondary .custom-btn-dark:hover, .custom-bg-secondary .custom-btn-dark:focus, .custom-bg-secondary .custom-btn-dark:active {
  outline: none !important;
}
.custom-bg-secondary .custom-btn-primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-secondary .custom-btn-primary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-secondary .custom-btn-primary:hover, .custom-bg-secondary .custom-btn-primary:focus, .custom-bg-secondary .custom-btn-primary:active {
  outline: none !important;
}
.custom-bg-secondary .custom-btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-color: var(--color-primary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-secondary .custom-btn-secondary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-secondary .custom-btn-secondary:hover, .custom-bg-secondary .custom-btn-secondary:focus, .custom-bg-secondary .custom-btn-secondary:active {
  outline: none !important;
}
.custom-bg-secondary .custom-btn-accent {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-secondary .custom-btn-accent:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.custom-bg-secondary .custom-btn-accent:hover, .custom-bg-secondary .custom-btn-accent:focus, .custom-bg-secondary .custom-btn-accent:active {
  outline: none !important;
}
.custom-bg-secondary .custom-btn-gray {
  background-color: var(--color-gray);
  color: var(--color-primary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-secondary .custom-btn-gray:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-secondary .custom-btn-gray:hover, .custom-bg-secondary .custom-btn-gray:focus, .custom-bg-secondary .custom-btn-gray:active {
  outline: none !important;
}
.custom-bg-secondary .custom-btn-light {
  background-color: var(--color-light);
  color: var(--color-primary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-secondary .custom-btn-light:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-secondary .custom-btn-light:hover, .custom-bg-secondary .custom-btn-light:focus, .custom-bg-secondary .custom-btn-light:active {
  outline: none !important;
}
.custom-bg-secondary .custom-btn-menu {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-color: var(--color-primary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-secondary .custom-btn-menu:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-secondary .custom-btn-menu:hover, .custom-bg-secondary .custom-btn-menu:focus, .custom-bg-secondary .custom-btn-menu:active {
  outline: none !important;
}

.custom-bg-accent .custom-btn-dark {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-accent .custom-btn-dark:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-light);
}
.custom-bg-accent .custom-btn-dark:hover, .custom-bg-accent .custom-btn-dark:focus, .custom-bg-accent .custom-btn-dark:active {
  outline: none !important;
}
.custom-bg-accent .custom-btn-primary {
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-color: var(--color-primary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-accent .custom-btn-primary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.custom-bg-accent .custom-btn-primary:hover, .custom-bg-accent .custom-btn-primary:focus, .custom-bg-accent .custom-btn-primary:active {
  outline: none !important;
}
.custom-bg-accent .custom-btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-color: var(--color-secondary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-accent .custom-btn-secondary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.custom-bg-accent .custom-btn-secondary:hover, .custom-bg-accent .custom-btn-secondary:focus, .custom-bg-accent .custom-btn-secondary:active {
  outline: none !important;
}
.custom-bg-accent .custom-btn-accent {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-primary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-accent .custom-btn-accent:hover {
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-color: var(--color-secondary);
}
.custom-bg-accent .custom-btn-accent:hover, .custom-bg-accent .custom-btn-accent:focus, .custom-bg-accent .custom-btn-accent:active {
  outline: none !important;
}
.custom-bg-accent .custom-btn-gray {
  background-color: var(--color-gray);
  color: var(--color-primary);
  border-color: var(--color-gray);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-accent .custom-btn-gray:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.custom-bg-accent .custom-btn-gray:hover, .custom-bg-accent .custom-btn-gray:focus, .custom-bg-accent .custom-btn-gray:active {
  outline: none !important;
}
.custom-bg-accent .custom-btn-light {
  background-color: var(--color-light);
  color: var(--color-primary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-accent .custom-btn-light:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.custom-bg-accent .custom-btn-light:hover, .custom-bg-accent .custom-btn-light:focus, .custom-bg-accent .custom-btn-light:active {
  outline: none !important;
}
.custom-bg-accent .custom-btn-menu {
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-color: var(--color-primary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-accent .custom-btn-menu:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.custom-bg-accent .custom-btn-menu:hover, .custom-bg-accent .custom-btn-menu:focus, .custom-bg-accent .custom-btn-menu:active {
  outline: none !important;
}

.custom-bg-gray .custom-btn-dark {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-gray .custom-btn-dark:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-gray .custom-btn-dark:hover, .custom-bg-gray .custom-btn-dark:focus, .custom-bg-gray .custom-btn-dark:active {
  outline: none !important;
}
.custom-bg-gray .custom-btn-primary {
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-color: var(--color-primary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-gray .custom-btn-primary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-gray .custom-btn-primary:hover, .custom-bg-gray .custom-btn-primary:focus, .custom-bg-gray .custom-btn-primary:active {
  outline: none !important;
}
.custom-bg-gray .custom-btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-color: var(--color-secondary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-gray .custom-btn-secondary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-gray .custom-btn-secondary:hover, .custom-bg-gray .custom-btn-secondary:focus, .custom-bg-gray .custom-btn-secondary:active {
  outline: none !important;
}
.custom-bg-gray .custom-btn-accent {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-gray .custom-btn-accent:hover {
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-color: var(--color-primary);
}
.custom-bg-gray .custom-btn-accent:hover, .custom-bg-gray .custom-btn-accent:focus, .custom-bg-gray .custom-btn-accent:active {
  outline: none !important;
}
.custom-bg-gray .custom-btn-gray {
  background-color: var(--color-gray);
  color: var(--color-primary);
  border-color: var(--color-gray);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-gray .custom-btn-gray:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-gray .custom-btn-gray:hover, .custom-bg-gray .custom-btn-gray:focus, .custom-bg-gray .custom-btn-gray:active {
  outline: none !important;
}
.custom-bg-gray .custom-btn-light {
  background-color: var(--color-light);
  color: var(--color-primary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-gray .custom-btn-light:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-gray .custom-btn-light:hover, .custom-bg-gray .custom-btn-light:focus, .custom-bg-gray .custom-btn-light:active {
  outline: none !important;
}
.custom-bg-gray .custom-btn-menu {
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-color: var(--color-primary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-gray .custom-btn-menu:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-gray .custom-btn-menu:hover, .custom-bg-gray .custom-btn-menu:focus, .custom-bg-gray .custom-btn-menu:active {
  outline: none !important;
}

.custom-bg-light .custom-btn-dark {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-light .custom-btn-dark:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-light .custom-btn-dark:hover, .custom-bg-light .custom-btn-dark:focus, .custom-bg-light .custom-btn-dark:active {
  outline: none !important;
}
.custom-bg-light .custom-btn-primary {
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-color: var(--color-primary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-light .custom-btn-primary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-light .custom-btn-primary:hover, .custom-bg-light .custom-btn-primary:focus, .custom-bg-light .custom-btn-primary:active {
  outline: none !important;
}
.custom-bg-light .custom-btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-color: var(--color-secondary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-light .custom-btn-secondary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-light .custom-btn-secondary:hover, .custom-bg-light .custom-btn-secondary:focus, .custom-bg-light .custom-btn-secondary:active {
  outline: none !important;
}
.custom-bg-light .custom-btn-accent {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-light .custom-btn-accent:hover {
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-color: var(--color-primary);
}
.custom-bg-light .custom-btn-accent:hover, .custom-bg-light .custom-btn-accent:focus, .custom-bg-light .custom-btn-accent:active {
  outline: none !important;
}
.custom-bg-light .custom-btn-gray {
  background-color: var(--color-gray);
  color: var(--color-primary);
  border-color: var(--color-gray);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-light .custom-btn-gray:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-light .custom-btn-gray:hover, .custom-bg-light .custom-btn-gray:focus, .custom-bg-light .custom-btn-gray:active {
  outline: none !important;
}
.custom-bg-light .custom-btn-light {
  background-color: var(--color-light);
  color: var(--color-primary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-light .custom-btn-light:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-light .custom-btn-light:hover, .custom-bg-light .custom-btn-light:focus, .custom-bg-light .custom-btn-light:active {
  outline: none !important;
}
.custom-bg-light .custom-btn-menu {
  background-color: var(--color-light);
  color: var(--color-primary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.custom-bg-light .custom-btn-menu:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.custom-bg-light .custom-btn-menu:hover, .custom-bg-light .custom-btn-menu:focus, .custom-bg-light .custom-btn-menu:active {
  outline: none !important;
}

h1 {
  color: var(--color-primary);
}

h2 {
  color: var(--color-primary);
}

h3 {
  color: var(--color-secondary);
}

h4 {
  color: var(--color-primary);
}

h5 {
  color: var(--color-primary);
}

h6 {
  color: var(--color-secondary);
}

.custom-bg-dark h1 {
  color: var(--color-primary);
}
.custom-bg-dark h2 {
  color: var(--color-primary);
}
.custom-bg-dark h3 {
  color: var(--color-secondary);
}
.custom-bg-dark h4 {
  color: var(--color-primary);
}
.custom-bg-dark h5 {
  color: var(--color-primary);
}
.custom-bg-dark h6 {
  color: var(--color-secondary);
}

.custom-bg-primary h1 {
  color: var(--color-light);
}
.custom-bg-primary h2 {
  color: var(--color-light);
}
.custom-bg-primary h3 {
  color: var(--color-secondary);
}
.custom-bg-primary h4 {
  color: var(--color-light);
}
.custom-bg-primary h5 {
  color: var(--color-light);
}
.custom-bg-primary h6 {
  color: var(--color-secondary);
}

.custom-bg-secondary h1 {
  color: var(--color-primary);
}
.custom-bg-secondary h2 {
  color: var(--color-primary);
}
.custom-bg-secondary h3 {
  color: var(--color-accent);
}
.custom-bg-secondary h4 {
  color: var(--color-primary);
}
.custom-bg-secondary h5 {
  color: var(--color-primary);
}
.custom-bg-secondary h6 {
  color: var(--color-accent);
}

.custom-bg-accent h1 {
  color: var(--color-primary);
}
.custom-bg-accent h2 {
  color: var(--color-primary);
}
.custom-bg-accent h3 {
  color: var(--color-secondary);
}
.custom-bg-accent h4 {
  color: var(--color-primary);
}
.custom-bg-accent h5 {
  color: var(--color-primary);
}
.custom-bg-accent h6 {
  color: var(--color-secondary);
}

.custom-bg-gray h1 {
  color: var(--color-primary);
}
.custom-bg-gray h2 {
  color: var(--color-primary);
}
.custom-bg-gray h3 {
  color: var(--color-secondary);
}
.custom-bg-gray h4 {
  color: var(--color-primary);
}
.custom-bg-gray h5 {
  color: var(--color-primary);
}
.custom-bg-gray h6 {
  color: var(--color-secondary);
}

.custom-bg-light h1 {
  color: var(--color-primary);
}
.custom-bg-light h2 {
  color: var(--color-primary);
}
.custom-bg-light h3 {
  color: var(--color-secondary);
}
.custom-bg-light h4 {
  color: var(--color-primary);
}
.custom-bg-light h5 {
  color: var(--color-primary);
}
.custom-bg-light h6 {
  color: var(--color-secondary);
}

.custom-bg-dark {
  background-color: var(--color-dark);
  color: var(--color-default);
}

.custom-bg-primary {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.custom-bg-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.custom-bg-accent {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

.custom-bg-gray {
  background-color: var(--color-gray);
  color: var(--color-default);
}

.custom-bg-light {
  background-color: var(--color-light);
  color: var(--color-default);
}

.custom-btn-dark, .custom-btn-primary, .custom-btn-secondary, .custom-btn-accent, .custom-btn-gray, .custom-btn-light {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.custom-btn-dark:hover, .custom-btn-primary:hover, .custom-btn-secondary:hover, .custom-btn-accent:hover, .custom-btn-gray:hover, .custom-btn-light:hover {
  transition: 0.25s;
  text-decoration: none;
}

.custom-btn-menu {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.25s;
  text-decoration: none !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 55px;
  width: 55px;
  font-size: 1.6rem;
}
.custom-btn-menu:hover {
  transition: 0.25s;
  text-decoration: none;
}

a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  font-size: 1em;
  text-decoration: none;
}
@media (min-width: 576px) {
  a {
    font-size: 14px;
  }
}
a:hover {
  text-decoration: underline;
}
a[target=_blank]::after {
  content: "\f08e";
  font-family: "Font Awesome 6 Pro";
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8em;
  margin-left: 0.4em;
  margin-top: -0.9em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

h1 {
  font-size: 40px;
}
@media (min-width: 576px) {
  h1 {
    font-size: 58px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 70px;
  }
}

h2 {
  font-size: 26px;
}
@media (min-width: 576px) {
  h2 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}
h5.content-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h6 {
  font-size: 14px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  margin: 0;
  color: #535656;
}
@media (min-width: 576px) {
  p {
    font-size: 14px;
  }
}

.italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
}

.custom-section-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: var(--color-secondary);
}

.wrapper {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

header {
  padding: 10px 0;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo mobile" "menu menu" "search search";
}
@media (min-width: 768px) {
  header .container {
    grid-template-columns: 1fr auto auto;
    grid-template-areas: "logo search mobile" "menu menu menu";
  }
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto auto auto;
    grid-template-areas: "logo menu search";
  }
}
header .container #logo {
  grid-area: logo;
}
header .container #logo img {
  width: 70%;
  height: auto;
}
@media (min-width: 576px) {
  header .container #logo img {
    width: 85%;
    height: auto;
  }
}
@media (min-width: 768px) {
  header .container #logo img {
    width: 100%;
    height: auto;
  }
}
header .container #menu {
  grid-area: menu;
}
header .container #menu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 992px) {
  header .container #menu nav {
    flex-direction: row;
    gap: 2rem;
  }
}
@media (min-width: 992px) {
  header .container #menu nav {
    gap: 3rem;
  }
}
header .container #menu nav a {
  font-weight: 700;
}
header .container #menu nav a:hover {
  color: var(--color-secondary);
}
header .container .search {
  grid-area: search;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  header .container .search {
    flex-direction: row;
    margin-right: 3rem;
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  header .container .search {
    margin-right: 0;
    justify-self: end;
  }
}
header .container .btn-mobileMenu {
  grid-area: mobile;
  display: block;
  justify-self: end;
  cursor: pointer;
  border: none;
}
@media (min-width: 576px) {
  header .container .btn-mobileMenu {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  header .container .btn-mobileMenu {
    display: none;
  }
}
header .container .hide {
  display: none !important;
}

.full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.nav-link {
  color: var(--color-primary);
}

.active {
  color: var(--color-secondary);
}

.page-title {
  padding: 75px 0;
}
.page-title .container h2 {
  text-align: center;
}
.page-title .container .crumb {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.page-title .container .crumb li:first-child a {
  color: var(--color-primary);
}
.page-title .container .crumb li:not(:last-child)::after {
  content: ">";
  margin: 0 8px;
}
.page-title .container .crumb li a {
  color: var(--color-primary);
}
